@media screen and (min-width: 768px) {
    .button-group {
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .button-group button {
            width: 45%;
        }
}

@media screen and (min-width: 992px) {
    .body-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .accordion {
        display: none;
    }

    .products {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .pay-col {
        top: 16rem;
        display: block;
        position: sticky;
    }

    .wrap-outside {
        padding: 1rem;
    }

}
