
@section topCSS{
    <style>
        table.b-table[aria-busy='true'] {
            opacity: 0.6;
        }
    </style>

}
<div id="project" class="col-12 m-auto">
    <template>
        <b-container fluid>
            <!-- User Interface controls -->
            <b-row>
                <b-col lg="6" class="my-1">
                    <b-form-group label="分類" label-for="sort-by-select" label-cols-sm="3" label-align-sm="right"
                                  label-size="sm" class="mb-0" v-slot="{ ariaDescribedby }">
                        <b-input-group size="sm">
                            <b-form-select id="sort-by-select" v-model="sortBy" :options="sortOptions"
                                           :aria-describedby="ariaDescribedby" class="w-75">
                                <template #first>
                                    <option value="">-- none --</option>
                                </template>
                            </b-form-select>

                            <b-form-select v-model="sortDesc" :disabled="!sortBy"
                                           :aria-describedby="ariaDescribedby" size="sm" class="w-25">
                                <option :value="false">升序</option>
                                <option :value="true">降序</option>
                            </b-form-select>
                        </b-input-group>
                    </b-form-group>
                </b-col>

                <b-col lg="6" class="my-1">
                    <b-form-group label="初始分類" label-for="initial-sort-select" label-cols-sm="3"
                                  label-align-sm="right" label-size="sm" class="mb-0">
                        <b-form-select id="initial-sort-select" v-model="sortDirection"
                                       :options="['asc', 'desc', 'last']" size="sm"></b-form-select>
                    </b-form-group>
                </b-col>

                <b-col lg="6" class="my-1">
                    <b-form-group label="搜尋" label-for="filter-input" label-cols-sm="3" label-align-sm="right"
                                  label-size="sm" class="mb-0">
                        <b-input-group size="sm">
                            <b-form-input id="filter-input" v-model="filter" type="search" placeholder="請輸入關鍵字">
                            </b-form-input>

                            <b-input-group-append>
                                <b-button :disabled="!filter" @@click="filter = ''">清空</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-col>

                <b-col lg="6" class="my-1">
                    <b-form-group v-model="sortDirection" label="過濾條件" label-cols-sm="3" label-align-sm="right"
                                  label-size="sm" class="mb-0" v-slot="{ ariaDescribedby }">
                        <b-form-checkbox-group v-model="filterOn" :aria-describedby="ariaDescribedby" class="mt-1">
                            <b-form-checkbox value="projectName">名稱</b-form-checkbox>
                            <b-form-checkbox value="projectStatus">提案狀態</b-form-checkbox>
                            <b-form-checkbox value="creatorName">提案人</b-form-checkbox>
                            <b-form-checkbox value="approvingStatus">審核狀態</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>
                </b-col>

                <b-col sm="5" md="6" class="my-1">
                    <b-form-group label="每頁顯示筆數" label-for="per-page-select" label-cols-sm="6" label-cols-md="4"
                                  label-cols-lg="3" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-form-select id="per-page-select" v-model="perPage" :options="pageOptions" size="sm">
                        </b-form-select>
                    </b-form-group>
                </b-col>

                <b-col sm="7" md="6" class="my-1">
                    <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill"
                                  size="sm" class="my-0"></b-pagination>
                </b-col>
            </b-row>

            <!-- Main table element -->
            <b-table :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage"
                     :filter="filter" :filter-included-fields="filterOn" :sort-by.sync="sortBy"
                     :sort-desc.sync="sortDesc" :sort-direction="sortDirection" :busy="isBusy" stacked="md" show-empty
                     small @@filtered="onFiltered">
                <template #cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                </template>

                <template #cell(actions)="row">
                    <b-button size="sm" @@click="info(row.item, row.index, $event.target)">
                        專案詳情
                    </b-button>
                    <b-button size="sm" @@click="row.toggleDetails">
                        {{ row.detailsShowing ? '收起' : '方案包' }}
                    </b-button>
                    <b-button size="sm" @@click="projectDetailPagePreview(row.item)" class="mr-1" variant="info">
                        專案預覽
                    </b-button>
                    <b-button size="sm" @@click="passHandler(row.item, true)" class="mr-1" variant="success">
                        通過
                    </b-button>
                    <b-button size="sm" @@click="passHandler(row.item, false)" class="mr-1" variant="danger">
                        拒絕
                    </b-button>
                </template>

                <template #row-details="row">
                    <b-card>
                        <ul v-for="(i, index) in row.item.planList">

                            <template>
                                <img :src="row.item.planList[index].planImgUrl" alt="#" width="50" height="50">
                            </template>
                            <li>該專案方案編號:{{row.item.planList[index].projectPlanId}}</li>
                            <li>方案自身編號:{{row.item.planList[index].planId}}</li>
                            <li>方案名稱:{{row.item.planList[index].planTitle}}</li>
                            <li>方案敘述:{{row.item.planList[index].planDescription}}</li>
                            <li>方案價格:{{row.item.planList[index].planPrice}}</li>
                            <li>方案庫存:{{row.item.planList[index].QuantityLimit}}</li>
                            <li>方案贊助人數:{{row.item.planList[index].planFundedPeople}}</li>
                        </ul>
                    </b-card>
                </template>
                <template #cell(projectMainUrl)="data">
                    <img :src="data.item.projectMainUrl" alt="" width="50" height="50">
                </template>
                <template #table-busy>
                    <div class="text-center text-danger my-2">
                        <!-- <b-spinner class="align-middle"></b-spinner> -->
                        <!-- <strong>Loading...</strong> -->
                    </div>
                </template>
            </b-table>
            <!-- Info modal -->
            <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @@hide="resetInfoModal">
                <pre style="font-size:18px; text-align:left;">{{ infoModal.content }}</pre>
            </b-modal>
        </b-container>
    </template>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

<script>
    const project = new Vue({
        el: "#project",
        data: {
            items: [],
            fields: [
                { key: 'projectId', label: '編號', sortable: true, sortDirection: 'desc' },
                { key: 'projectMainUrl', label: '圖片', class: 'text-center' },
                { key: 'projectName', label: '名稱', class: 'text-center' },
                { key: 'projectStatus', label: '提案狀態', class: 'text-center', sortable: true, sortDirection: 'desc' },
                { key: 'approvingStatus', label: '審核狀態', class: 'text-center', sortable: true, sortDirection: 'desc' },
                { key: 'category', label: '分類', class: 'text-center' },
                { key: 'fundingAmount', label: '募資金額', class: 'text-center' },
                { key: 'projectPrincipal', label: '提案人', class: 'text-center' },
                { key: 'actions', label: '詳細資料' },
            ],
            isError: false,
            isBusy: true,
            totalRows: 1,
            currentPage: 1,
            perPage: 20,
            pageOptions: [5, 10, 20, { value: 100, text: "100" }],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,
            filterOn: [],
            infoModal: {
                id: 'info-modal',
                title: '',
                content: ''
            }
        },
        created: function () {
            this.getWaitForPassProject();
        },
        computed: {
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return { text: f.label, value: f.key }
                    })
            }
        },
        mounted() {
            this.totalRows = this.items.length
        },
        methods: {
            info(item, index, button) {
                this.infoModal.title = `提案編號: ${JSON.stringify(item.projectId, null, 2)}`;
                this.infoModal.content =
                    `提案名稱:${JSON.stringify(item.projectName, null, 2)}\n提案分類:${JSON.stringify(item.category, null, 2)}\n提案會員Id:${JSON.stringify(item.memberId, null, 2)}\n提案人:${JSON.stringify(item.creatorName, null, 2)}\n提案人真實姓名:${JSON.stringify(item.projectPrincipal, null, 2)}\n提案人身分證字號:${JSON.stringify(item.identityNumber, null, 2)}\n募資門檻:${JSON.stringify(item.amountThreshold, null, 2)}\n募資金額:${JSON.stringify(item.fundingAmount, null, 2)}\n募資人數:${JSON.stringify(item.fundedpeople, null, 2)}\n提案狀態:${JSON.stringify(item.projectStatus, null, 2)}\n審核狀態:${JSON.stringify(item.approvingStatus, null, 2)}\n提案影片連結:${JSON.stringify(item.projectVideoUrl, null, 2)}\n提案方案數量:${JSON.stringify(item.projectPlansCount, null, 2)}\n提案開始時間:${JSON.stringify(item.startDate, null, 2)}\n提案結束時間:${JSON.stringify(item.endDate, null, 2)}\n提案初創時間:${JSON.stringify(item.createdDate, null, 2)}\n提案提交時間:${JSON.stringify(item.submittedDate, null, 2)}`;
                this.$root.$emit('bv::show::modal', this.infoModal.id, button);
            },
            resetInfoModal() {
                this.infoModal.title = ''
                this.infoModal.content = ''
            },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            mounted() {
                // Set the initial number of items
                this.totalRows = this.items.length
            },
            //資料 binding
            getWaitForPassProject() {
                axios.get("/Api/Projects/GetWaitForPass")
                    .then((res) => {
                        this.changeStatus(res.data.body.projectList);  //approvingstatus 數字換中文
                        this.items = res.data.body.projectList;  //bind
                        this.mounted();
                        this.isBusy = false;
                    });
            },
            //按鈕事件 通過與不通過判定並呼叫 sweetAlert
            passHandler(item, bool) {
                if (bool == true) {
                    item.approvingStatus = 2;
                    this.passSweetAlertHandler(item);  //都先 sweetalert 處理提示
                } else {
                    item.approvingStatus = 3;
                    this.denySweetAlertHandler(item);   //都先 sweetalert 處理提示
                }
            },
            //更新提案狀態
            axiosHandler(item) {
                let data = item;
                @*console.log(data);*@
                const config = {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }
                axios.put("/Api/Projects/EditWaitForPassProject", data, config)
                    .then((res) => {
                        console.log("成功");
                        this.getWaitForPassProject(); //資料塞回去
                    })
                    .catch((err) => {
                        console.log("錯誤");
                    });
            },
            //跳提醒確認的話就呼叫 axiosHandler
            passSweetAlertHandler(item) {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-outline-danger ml-2',
                        cancelButton: 'btn btn-secondary mr-2'
                    },
                    buttonsStyling: false
                });

                swalWithBootstrapButtons.fire({
                    title: '確定通過?',
                    text: "通過後專案即開始上線募資",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '確定',
                    cancelButtonText: '返回',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        //這邊呼叫傳到後端更改資料
                        this.axiosHandler(item);
                    }
                });
            },
            denySweetAlertHandler(item) {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-outline-danger ml-2',
                        cancelButton: 'btn btn-secondary mr-2'
                    },
                    buttonsStyling: false
                });

                swalWithBootstrapButtons.fire({
                    title: '確定否決?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '確定',
                    cancelButtonText: '返回',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        //這邊呼叫傳到後端更改資料
                        this.axiosHandler(item);
                    }
                });
            },
            changeStatus(dataItems) {
                dataItems.forEach(item => {
                    if (item.approvingStatus == 0) {
                        item.approvingStatus = "草稿";
                    }
                    else if (item.approvingStatus == 1) {
                        item.approvingStatus = "審核中";
                    }
                    else if (item.approvingStatus == 3) {
                        item.approvingStatus = "審核失敗";
                    }
                    else {
                        item.approvingStatus = "審核成功";
                    }
                });
            },
            projectDetailPagePreview(projectItem) {
                @*window.location.href = "/Project/ProjectDetail/" + projectItem.projectId;*@
                
                window.open(
                    'ProjectDetail/' + projectItem.projectId,
                    '_blank' // <- This is what makes it open in a new window.
                );
            },
        },
    });

</script>