.row {
    display: flex;
}

a:hover {
    text-decoration: none;
}

.category-group {
    text-align: center;
}

.category-group-item {
    width: 50%;
    color: #000;
    outline: none;
}

.category-group-item:hover {
    color: #CF4148;
    cursor: pointer;
}


    .category-group-item .content {
        width: 5rem;
        height: 5rem;
        background-color: #fff;
        border-radius: 6rem;
        margin: auto;
        position: relative;
    }

        .category-group-item .content i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

.menu-dropdown-group {
    display: flex;
    padding: 1rem;
}

.menu-dropdown-group-filter {
    padding-right: 1rem;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    cursor: pointer
}

button[type="button"] {
    color: #000;
    background-color: #fff;
}


/* 種類 */

.project-categories {
    padding-top: 3rem;
    margin-bottom: 5rem;
}

    .project-categories .project-categories-box {
        border-bottom: 1px solid #aaa;
    }

    .project-categories .pic {
        border-radius: 50%;
    }

        .project-categories .pic i {
            font-size: 2rem;
            color: rgb(65, 63, 63);
            padding: 0.5rem 0 1rem 0;
            transition: .3s;
        }

    .project-categories .text h4 {
        font-size: 0.8rem;
        color: rgb(65, 63, 63);
        font-weight: 600;
        text-align: center;
        transition: .3s;
    }

    .project-categories .project-categories-box a {
        text-decoration: none;
        outline: none;
    }

    .project-categories .project-categories-box:hover i {
        color: #f9414a;
    }

    .project-categories .project-categories-box:hover h4 {
        color: #f9414a;
    }








/* 熱門專案 */

.popular-project {
    padding: 0 0.6rem;
}

    .popular-project .title-bar {
        padding-bottom: 2rem;
        letter-spacing: 0.1rem;
    }

    .popular-project .title h2 {
        font-size: 1.25rem;
        border-left: 0.5rem solid #f9414a;
        padding-left: 0.5rem;
        font-weight: 700;
    }

    .popular-project .see-more a {
        text-decoration: none;
        color: #f9414a;
        font-weight: 800;
        display: none;
    }

    .popular-project .see-more a:hover {
        color: #000;
    }

    .popular-project .phone-see-more a {
        text-decoration: none;
        color: #f9414a;
        font-weight: 800;
    }

        .popular-project .phone-see-more a:hover {
            color: #000;
        }

    .popular-project .money {
        border-right: 1px solid #aaa;
        padding-right: 0.5rem;
    }

    .popular-project .percent {
        padding-left: 0.5rem;
    }

    .popular-project .cardtemplate {
        margin-bottom: 3rem;
    }

        .popular-project .cardtemplate a {
            color: #000;
            text-decoration: none;
        }

    .popular-project .cardtemplate-item p {
        margin-bottom: 0;
    }

    .popular-project .project-name {
        height: 3rem;
    }


    .popular-project .tag-item {
        background-color: #f7f7f7;
        padding: 0.4rem 0.6rem;
        margin: 0.6rem 0;
        letter-spacing: 0.1rem;
    }

        .popular-project .tag-item p {
            font-size: 0.8rem;
        }

    .popular-project .status p {
        color: #f9414a;
        font-weight: 700;
    }



    .popular-project .project-name h3 {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0;
        line-height: 1.55rem;
        font-weight: 700;
    }

    .popular-project .project-team {
        padding-bottom: 2rem;
        letter-spacing: 0.1rem;
    }

        .popular-project .project-team p {
            color: rgb(128, 127, 127);
            font-size: 0.9rem;
        }

    .popular-project .project-progressbar-item {
        background-color: #f9414a;
        height: 0.2rem;
    }

    .popular-project .project-progressnumber {
        padding-top: 1rem;
        letter-spacing: 0.1rem;
    }

        .popular-project .project-progressnumber p {
            font-size: 0.75rem;
            font-weight: 700;
        }

    .popular-project .project-name:hover {
        color: #f9414a;
    }

    .popular-project .cardtemplate:hover img {
        transform: scale(1.1);
    }

    .popular-project .project-picture {
        overflow: hidden;
    }

        .popular-project .project-picture img {
            transition: .4s;
        }



.ForCategory {
    display: none;
}

.btn-more {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    background-color: #808080;
    margin: 1rem 0;
}

.btn-more:hover {
    background-color: #000;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page-item .page-link {
    color: #000;
}

.page-item.active .page-link{
    background-color:#f9414a;
    border:none;
}
.page-link:focus{
    box-shadow:none
}


@media screen and (min-width: 768px) {
    .popular-project .see-more a {
        display: block;
    }

    .popular-project .phone-see-more a {
        display: none;
    }

    .popular-project .title h2 {
        font-size: 1.45rem;
        letter-spacing: 0.2rem;
    }

    .popular-project .tag-item p {
        font-size: 0.9rem;
    }

    .popular-project .project-progressnumber p {
        font-size: 0.95rem;
    }

    #status-text{
        font-size:0.9rem;
    }
}

#default {
    text-align: center;
}

.popular-project .status {
    margin-left: 0.8rem;
    width: 6rem;
}