@model CarCarPlanViewModel
@*@model CartItemListViewModel*@
<div class="product-item">
    <div class="product-item-pic col-2 col-sm-2">
        <img src="@Model.PlanImgUrl" alt="肉" class="pic">
    </div>
    <div class="product-item-text  col-10 col-sm-10">
        <h3>@Model.PlanTitle</h3>
        <div><p>@(Model.Quantity.ToString())件:共 @StringFormat5.addComma((int)(Model.Account)) NTD</p></div>
    </div>
</div>