@model OrderDetail



<div class="card-wrap">
    <a class="product-item"  href="~/CarCarPlan/Detail/@Model.PlanId">
        <div class="product-items">
            <div class="product-item-pic">
                <img src="@Model.OrderPlanImgUrl" alt="方案圖片" class="pic">
            </div>
            <div class="product-item-text">
                <h3>@Model.PlanTitle</h3>
                <div><span>@(Model.OrderQuantity.ToString())件:</span><span>共@(Model.OrderPrice* Model.OrderQuantity) NTD</span></div>
            </div>
        </div>            
    </a>
</div>     
