<section class="footer">
    <div class="container">
        <div class="row line">
            <div class="col-12 col-sm-12 col-md-11 mb-md-5 mt-5">
                <div class="footer-item site-map">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="site-map-item about-us">
                                <div class="about-us-item title mb-5 mt-5">
                                    <h2>關於</h2>
                                </div>
                                <div class="about-us-item mb-3">
                                    <a href="/AboutUs/Index">
                                        <h4>關於我們</h4>
                                    </a>
                                </div>
                                <div class="about-us-item mb-3">
                                    <a href="javascript:void(0)">
                                        <h4>人才招募</h4>
                                    </a>
                                </div>
                                <div class="about-us-item">
                                    <a href="javascript:void(0)">
                                        <h4>商標使用規範</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="site-map-item terms">
                                <div class="terms-item title mb-5 mt-5">
                                    <h2>條款</h2>
                                </div>
                                <div class="terms-item mb-3">
                                    <a href="javascript:void(0)">
                                        <h4>網站使用條款</h4>
                                    </a>
                                </div>
                                <div class="terms-item">
                                    <a href="javascript:void(0)">
                                        <h4>提案者合約</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="site-map-item help">
                                <div class="help-item title mb-5 mt-5">
                                    <h2>協助</h2>
                                </div>
                                <div class="help-item mb-3">
                                    <a href="/OrdinaryQA/Index">
                                        <h4>常見問題</h4>
                                    </a>
                                </div>
                                <div class="help-item mb-3">
                                    <a href="javascript:void(0)">
                                        <h4>使用手冊</h4>
                                    </a>
                                </div>
                                <div class="help-item">
                                    <a href="javascript:void(0)">
                                        <h4>提案百科</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-1 mb-md-5 mt-5">
                <div class="footer-item social-media d-flex justify-content-center mt-5">
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-6">
                            <div class="social-media-item facebook mr-3">
                                <a href="javascript:void(0)">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-6">
                            <div class="social-media-item instagram mr-3">
                                <a href="javascript:void(0)">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-6">
                            <div class="social-media-item flickr mr-3 mt-md-3">
                                <a href="javascript:void(0)">
                                    <i class="fab fa-flickr"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-6">
                            <div class="social-media-item linkedin mt-md-3">
                                <a href="javascript:void(0)">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12">
                <div class="footer-item copyright d-flex justify-content-center mt-5">
                    <p>集資車車 &copy; 2021. ALL RIGHTS RESERVED.</p>
                </div>
            </div>
        </div>
    </div>
</section>