<div class="case-title">
    <h2>提案紀錄</h2>
    <p>您可以在此查閱所有發起過的專案，專案提交後 7 個工作天內將有專人協助您進行下一步。</p>
</div>
<div class="case-doing">
    <div class="case-doing-funding">
        <h3>募資中專案</h3>
        <p>目前您沒有募資中專案</p>
    </div>
    <div class="case-doing-creating">
        <h3>創建中專案</h3>
        <div class="case-doing-item">
            <div class="case-doing-pic">
                <img src="https://picsum.photos/800/600/?random=1">
            </div>
            <div class="case-doing-text">
                <div class="case-doing-name">
                    <h4>
                        專案名稱:
                        <span>1</span>
                    </h4>
                </div>
                <div class="case-doing-money">
                    <h4>
                        目標金額:
                        <span>$5000</span>
                    </h4>
                </div>
                <div class="case-doing-creat">
                    <h4>
                        <span>創建日期:2021/01/28</span>
                    </h4>
                </div>
                <div class="case-doing-givedate">
                    <h4>
                        <span>提交日期:尚未提交</span>
                    </h4>
                </div>
                <div class="case-doing-fix">
                    <h4>
                        <span>上次修改日期:2021/01/29</span>
                    </h4>
                </div>
            </div>
            <div class="button-group">
                <button id="btn-fix">修改</button>
                <button id="btn-view">預覽</button>
            </div>
        </div>
        <div class="case-doing-item">
            <div class="case-doing-pic">
                <img src="https://picsum.photos/800/600/?random=1">
            </div>
            <div class="case-doing-text">
                <div class="case-doing-name">
                    <h4>
                        專案名稱:
                        <span>1</span>
                    </h4>
                </div>
                <div class="case-doing-money">
                    <h4>
                        目標金額:
                        <span>$5000</span>
                    </h4>
                </div>
                <div class="case-doing-creat">
                    <h4>
                        <span>創建日期:2021/01/28</span>
                    </h4>
                </div>
                <div class="case-doing-givedate">
                    <h4>
                        <span>提交日期:尚未提交</span>
                    </h4>
                </div>
                <div class="case-doing-fix">
                    <h4>
                        <span>上次修改日期:2021/01/29</span>
                    </h4>
                </div>
            </div>
            <div class="button-group">
                <button id="btn-fix">修改</button>
                <button id="btn-view">預覽</button>
            </div>
        </div>
        <div class="case-doing-item">
            <div class="case-doing-pic">
                <img src="~/Assets/Img/personal/dog.jpg" alt="肉">
            </div>
            <div class="case-doing-text">
                <div class="case-doing-name">
                    <h4>
                        專案名稱:
                        <span>1</span>
                    </h4>
                </div>
                <div class="case-doing-money">
                    <h4>
                        目標金額:
                        <span>$5000</span>
                    </h4>
                </div>
                <div class="case-doing-creat">
                    <h4>
                        <span>創建日期:2021/01/28</span>
                    </h4>
                </div>
                <div class="case-doing-givedate">
                    <h4>
                        <span>提交日期:尚未提交</span>
                    </h4>
                </div>
                <div class="case-doing-fix">
                    <h4>
                        <span>上次修改日期:2021/01/29</span>
                    </h4>
                </div>
            </div>
            <div class="button-group">
                <button id="btn-fix">修改</button>
                <button id="btn-view">預覽</button>
            </div>
        </div>
    </div>
</div>
