
@section topCSS{
    <link href="~/Assets/Css/RegisterSuccessPage/RegisterSuccess.css" rel="stylesheet" />
}

<section class="registersuccess-page d-flex">

    <div class="container d-flex flex-column">
        <div class="registersuccess-page-item text-center">
            <h3>註冊成功!</h3>
        </div>

        <div class="registersuccess-page-item other-registersuccess">
            <div class="other-registersuccess-item pb-3">
                <p class="d-flex justify-content-center welcome">歡迎成為集資車車會員</p>
            </div>
            <div class="other-registersuccess-item">
                <a href="/Member/Login" class="d-flex justify-content-center gologin">
                    <p>- 返回登入頁 -</p>
                </a>
            </div>
            <hr>
        </div>
        <div class="registersuccess-page-item d-flex justify-content-between changestatus">
            <a href="/Member/Register" class="d-flex again">
                <i class="fas fa-angle-double-right pt-1 pr-2"></i>
                <p>註冊另一個</p>
            </a>
            <a href="/OrdinaryQA/Index" class="normal-question">常見問題</a>
        </div>
    </div>
</section>
