
@section topCSS{
    <link href="~/Assets/Css/MemberRegisterPage/memberregister.css" rel="stylesheet" />
}

<section class="register-page">
    <div class="container d-flex flex-column">
        <div class="register-page-item text-center">
            <h3>註冊</h3>
        </div>
        <div class="register-page-item register">
            <form action="~/Member/Register" method="post">
                <div class="register-item title mb-3">
                    <p>註冊</p>
                </div>
                <div class="register-item d-flex flex-column name-password">
                    <input type="text" placeholder="名稱" name="Name">
                    <input type="text" placeholder="註冊信箱" name="Email">
                    <input type="password" placeholder="密碼" name="Password">
                    <input type="password" placeholder="確認登入密碼" name="PasswordConfirm">
                </div>
                <div class="register-item birthdate mb-3">
                    <p class="mb-2">生日</p>
                    <input type="date" class="w-100" name="Birthday">
                </div>
                <div class="register-item gender mb-3">
                    <div class="gender-item">
                        <p class="mb-2">性別</p>
                    </div>
                    <div class="gender-item d-flex justify-content-between">
                        <div>
                            <input type="radio" value="男性" id="male" name="gender">
                            <label for="male">男性</label>
                            <!-- <input type="radio" value="1" id="male" name="gender"> -->
                        </div>
                        <div>
                            <input type="radio" value="女性" id="female" name="gender">
                            <label for="female">女性</label>
                        </div>
                        <div>
                            <input type="radio" value="其他" id="others" name="gender">
                            <label for="others">其他</label>
                        </div>
                    </div>
                </div>
                <div class="register-item register-button mb-3">
                    <input type="submit" value="註冊" class="submitbutton w-100">
                </div>
            </form>
        </div>
        <div class="register-page-item split-line">
            <p>或</p>
        </div>
        <div class="register-page-item other-register">
            <div class="other-register-item title mb-3">
                <p>社群帳號</p>
            </div>
            <div class="other-register-item">
                <a href="#" class="d-flex justify-content-center facebook">
                    <i class="fab fa-facebook-f"></i>
                    <p>使用 Facebook 帳號登入</p>
                </a>
                <a href="#" class="d-flex justify-content-center google">
                    <i class="fab fa-google"></i>
                    <p>使用 Google 帳號登入</p>
                </a>
                <p class="term">註冊 集資車車 會員即表示我同意<a href="">網站使用條款</a></p>
            </div>
            <hr>
        </div>
        <div class="register-page-item d-flex justify-content-between changestatus">
            <p>已經有 集資車車 帳號了？</p>
            <input type="button" value="登入">
        </div>
    </div>
</section>
