
@section topCSS{
    <link href="~/Assets/Css/MemberRegisterPage/memberregister.css" rel="stylesheet" />
}


<section class="register-page">
    <div class="container d-flex flex-column">
        <div class="register-page-item text-center">
            <h3>註冊</h3>
        </div>
        <div class="register-page-item register">
            <form action="~/Member/Register" method="post">
                <div class="register-item title mb-3">
                    <p>註冊</p>
                </div>
                <div class="register-item d-flex flex-column name-password">
                    <input type="text" placeholder="名稱" name="Name" required oninvalid="this.setCustomValidity('請幫我填一下名稱噢')" oninput="this.setCustomValidity('')">
                    <input type="email" placeholder="註冊信箱" name="Email" required oninvalid="InvalidMsg(this);" oninput="InvalidMsg(this);">
                    <input type="password" id="pwrg-first" placeholder="密碼" name="Password" pattern="^([a-zA-Z]+\d+|\d+[a-zA-Z]+)[a-zA-Z0-9]*$" minlength="6" maxlength="14" oninvalid="this.setCustomValidity('請輸入介於6-14位的英文與數字')" onChange="onChange()" oninput="this.setCustomValidity('')">
                    <input type="password" id="pwrg-second" placeholder="確認登入密碼" name="PasswordConfirm" required onChange="onChange()" oninput="this.setCustomValidity('')">
                </div>
                <div class="register-item birthdate mb-3">
                    <p class="mb-2">生日</p>
                    <input type="date" class="w-100" name="Birthday" required oninvalid="this.setCustomValidity('您的生日~~')" onchange="this.setCustomValidity('')">
                </div>
                <div class="register-item gender mb-3">
                    <div class="gender-item">
                        <p class="mb-2">性別</p>
                    </div>
                    <div class="gender-item d-flex justify-content-between">
                        <div>
                            <input type="radio" value="男性" id="male" name="gender" required oninvalid="checkValid(this);" onclick="checkValid(this);">
                            <label for="male">男性</label>
                        </div>
                        <div>
                            <input type="radio" value="女性" id="female" name="gender" oninvalid="checkValid(this);" onclick="checkValid(this);">
                            <label for="female">女性</label>
                        </div>
                        <div>
                            <input type="radio" value="其他" id="others" name="gender" oninvalid="checkValid(this);" onclick="checkValid(this);">
                            <label for="others">其他</label>
                        </div>
                    </div>
                </div>
                <div class="register-item register-button mb-3">
                    <input type="submit" value="註冊" class="submitbutton w-100">
                </div>
            </form>
        </div>
        <div class="register-page-item split-line">
            <p>或</p>
        </div>
        <div class="register-page-item other-register">
            <div class="other-register-item title mb-3">
                <p>社群帳號</p>
            </div>
            <div class="other-register-item">
                <a href="#" class="d-flex justify-content-center facebook">
                    <i class="fab fa-facebook-f"></i>
                    <p>使用 Facebook 帳號登入</p>
                </a>
                <a href="#" class="d-flex justify-content-center google">
                    <i class="fab fa-google"></i>
                    <p>使用 Google 帳號登入</p>
                </a>
                <p class="term">註冊 集資車車 會員即表示我同意<a href="">網站使用條款</a></p>
            </div>
            <hr>
        </div>
        <div class="register-page-item d-flex justify-content-between changestatus">
            <p>已經有 集資車車 帳號了？</p>
            <a href="~/Member/Login">登入</a>
        </div>
    </div>
</section>


@section endJS{
    <script>

        //輸入時 即時比對改變框色 - (密碼與確認密碼)
        $("#pwrg-second").on("keyup", function () {
            if ($(this).val() == $("#pwrg-first").val()) {
                $("#pwrg-second").css("border-color", "#a7a7a7");
            }
            else {
                $("#pwrg-second").css("border-color", "red");
            }
        });



        //提交時跳比對訊息 - (密碼與確認密碼)
        function onChange() {
            const password = document.querySelector("#pwrg-first");
            const confirm = document.querySelector("#pwrg-second");
            if (confirm.value === password.value) {
                confirm.setCustomValidity("");
            } else {
                confirm.setCustomValidity("與輸入密碼不相符");
            }
        }


        //讓group中(同樣name的)所有input type="radio"的真正valid狀態不要被隱藏 - (性別選項)
        function checkValid(target) {
            var groupTargets = document.getElementsByName(target.name);
            if (groupTargets.length > 0) {
                for (var i = 0; i < groupTargets.length; i++) {
                    groupTargets[i].setCustomValidity("");
                    if (!groupTargets[i].validity.valid) {
                        groupTargets[i].setCustomValidity("請選擇性別");
                    }
                }
            }
        }



        function InvalidMsg(textbox) {

            if (textbox.value == "") {
                textbox.setCustomValidity("信箱忘了填噢~~");
            }
            else if (textbox.validity.typeMismatch) {
                textbox.setCustomValidity("格式請幫我填對,感謝!");
            }
            else {
                textbox.setCustomValidity("");
            }
            return true;
        }

    </script>
}
