.shopping-cart a, .cart-out a, .wish-list a {
    color: #565656;
    border-bottom-color: inherit;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

img {
    width: 100%;
}

.main-title {
    display: flex;
    justify-content: center;
    padding: 100px 15px;
}

    .main-title h1 {
        display: block;
        font-size: 3rem;
        font-weight: bold;
        color: #565656;
    }

    .main-title:active h1 {
        transform: translateY(0);
        opacity: 1;
    }

.main-title,
.shop-items {
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

    .main-title h1::after {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        margin-top: 40px;
        margin-left: 150px;
        background: #565656;
        position: absolute;
    }

.cart-item {
    display: flex;
    flex-direction: row;
}

    .cart-item .thumbnail {
        display: block;
    }



.actions {
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

    .actions input {
        width: 50px;
        text-align: center;
        font-weight: 500;
        background: #e7e7e7;
        color: #565656;
        transition: all 150ms ease-in-out;
        border: none;
    }

    .actions a {
        height: 25%;
    }

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.cart-item .content .title {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.cart-item .actions {
    display: flex;
}

.shop-items {
    overflow: hidden;
    padding-top: 100px;
    min-height: 100vh;
}

.shop-item {
    padding-bottom: 50px;
}


#cartSpecialInstructions {
    border-radius: 0;
    background: #e7e7e7;
    resize: none;
    color: #565656;
    font-size: 0.9375rem;
    padding: 20px;
    width: 100%;
    height: 130px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    border: 1px solid transparent;
    transition: all 150ms ease-in-out;
}

.cart-out {
    padding: 50px 0px;
}

    .cart-out p {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 20px;
    }

    .cart-out span {
        font-size: 1.75rem;
        font-weight: bold;
    }

    .cart-out input {
        display: inline-block;
        background: #565656;
        font-family: "Work Sans", sans-serif;
        color: #fff !important;
        border: 2px solid transparent;
        font-size: 0.8125rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 20px;
        transition: all 150ms ease-in-out;
        cursor: pointer;
        height: 55px;
        margin: 0;
        display: inline-block;
        line-height: 53px;
        border-radius: 0;
        font-size: 30px;
    }

    .cart-out button {
        margin-right: 10px;
        float: right;
        background: #565656;
        font-family: "Work Sans", sans-serif;
        color: #fff !important;
        border: 2px solid transparent;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 20px;
        transition: all 150ms ease-in-out;
        cursor: pointer;
        height: 55px;
        margin: 0;
        display: inline-block;
        line-height: 53px;
        border-radius: 0;
    }

.wish-title {
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    line-height: 1.55;
    display: block;
    width: 100%;
    text-align: center;
    color: #565656;
}

.col-sm-6 {
    width: 50%;
}

.wish-list-text {
    text-align: center;
}

    .wish-list-text .title {
        display: block;
        font-family: Montserrat, sans-serif;
        line-height: 1.5;
        font-weight: bold;
        font-size: 1em;
        color: #222;
    }

.sales {
    display: flex;
    justify-content: space-between;
}

.price {
    display: block;
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: #565656;
}

.stock {
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: #565656;
}

.shop-item .thumbnail {
    display: block;
    width: 20%;
}

.shop-item .content {
    width: 60%;
}

.shop-item .actions {
    width: 20%;
}

.hamburger .dropdown img {
    width: auto;
}

.nav-link {
    padding: .5rem 3rem;
}

.no-result {
    text-align: center;
    font-size: 3rem;
}

#navbarDropdownMenuLink img {
    width: auto;
}

i.fas.fa-snowplow {
    width: 100%;
    font-size: 20px;
}

.btn-success {
    margin: 0 20px;
}

.btn-danger {
    margin: 0 20px;
}

#clearCart{
    font-size:30px;
    font-weight:bold;
}
/* Set RWD */
@media screen and (min-width: 992px) {
    .main-title::after {
        margin-top: 9rem;
    }

    .cart-item .actions {
        display: flex;
        margin-left: 200px;
    }

    .wish-title {
        font-size: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .col-lg-6 {
        width: 50%;
    }

    .main-title {
        padding: 0px;
    }

        .main-title h1 {
            font-size: 4.5vw;
            line-height: 1.2;
        }

            .main-title h1::after {
                margin-top: 50px;
            }

    .cart-item .actions {
        margin-left: 0px;
    }

    .sticky {
        position: sticky;
        top: 20px;
        height: max-content;
    }
}

@media screen and (min-width:1200px) {
    .nav-link {
        padding: 0px;
        padding-bottom: 10px;
    }

    .pcmode-navbar .search {
        margin-top: 0px;
    }

    .pcmode-navbar .fa-shopping-cart {
        top: 20px;
    }

    .navbar-nav .dropdown {
        position: absolute;
        right: 10rem;
        top: 14px;
    }
}

.for-seller {
    max-width: 100%;
    width: 100%;
}
