@model AnnouncementViewModel 
@{
    var vm = (MemberViewModel)Session["Member"];
}


<div class="wrap-inside">
    <div class="col-sm-12 col-md-9">
        <div class="news-text">
            <span>於2天前</span>
            <h2>@Model.Title</h2>
            <p>@Model.Content</p>
        </div>
    </div>
</div>
