@{
    var vm = (MemberViewModel)Session["Member"];
}


<div class="wrap-inside">
    <div class="col-sm-12 col-md-9">
        <div class="news-text">
            <span>於2天前</span>
            <p>歡迎來到 flyingV！您可以到 熱門項目 看看我們的新鮮好案，或是 提案 發起您人生中的第一個群眾募資計劃！</p>
        </div>
    </div>
</div>
