@model BackingRecordsViewModel
@using System.Text.Json;
@using System.Web.Script.Serialization
@*@using Newtonsoft.Json;*@
@{
    var userOrder = Model.MyOrder.Select(x => new { x.OrderName, x.condition, x.OrderAddress, x.OrderTotalAccount, x.OrderId });
    var userOrderData = new JavaScriptSerializer().Serialize(userOrder); //o詳細json
    var userOrderDetail = Model.MyOrderDetailList.Select((y) => new { y.OrderDetailId, y.OrderPrice, y.OrderQuantity, y.PlanTitle });
    var userOrderDetailData = new JavaScriptSerializer().Serialize(userOrderDetail); //od詳細json
    @*string JSONString = string.Empty;
        JSONString = JsonConvert.SerializeObject(Model, Formatting.None,
            new JsonSerializerSettings
            {
                ReferenceLoopHandling =
                  ReferenceLoopHandling.Ignore
            });*@
}

@section topCSS{
    @*<link href="~/Assets/Plugin/JQuery/jquery_datatable_1.10.24.css" rel="stylesheet" />*@

}

@section endJS{
    @*<script src="~/Assets/Plugin/JQuery/jquery_datatable1.10.24.js"></script>*@
    @if (Model.MyOrder != null)
    {
        <script>
            var array = $("#transJSON").val();
            var jsonObj = {
                "items": array
            };
            var jsondata = JSON.stringify(jsonObj);

            function Binding() {
                new Vue({
                    el: "#record",
                    data: jsonObj
                });
            };

            $(document).ready(function () {
                Binding();
                $("mytable").DataTable({
                    "info": false,
                    "bLengthChange": false,
                    "pageLength": 5
                })
                debugger;
            });
        </script>
    }
    else
    {
        <p>您目前沒有任何一筆購買紀錄</p>
    }
}

<div class="record-content" >
    <h2>購買紀錄</h2>
    <p>在專案結束之前，您都可修改你的回饋寄送資訊，ATM 轉帳與超商付款請於繳費期限內繳款。逾期後訂單會自動消失。</p>
</div>
<span>單筆購買</span>
<div class="record-detail" id="record">
    <div class="record-detillist">
        <table id="mytable" style="width:100%">
            <thead>
                <tr>
                    <th>購買專案</th>
                    <th>購買金額</th>
                    <th>回饋項目</th>
                    <th>金流單號</th>
                    <th>收到了?</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>
                        <button id="delete" v-if="item.isValid">刪除</button>
                        <span v-else>已刪除</span>
                    </td>
                    <td>{{item.OrderId}}</td>
                    <td>{{item.OrderName}}</td>
                    <td>{{item.OrderTotalAccount}}</td>
                    <td>{{item.OrderAddress}}</td>
                    <td>{{item.condition}}</td>              
                </tr>
            </tbody>
            @*<tbody>
                <tr v-for="item in items">
                    <td>{{item.OrderId}}</td>
                    <td>{{item.OrderName}}</td>
                    <td>{{item.OrderTotalAccount}}</td>
                    <td>{{item.OrderAddress}}</td>
                    <td>{{item.condition}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="record-detail-col">購買專案</td>
                    <td class="record-detail-col">購買金額</td>
                    <td class="record-detail-col">回饋項目</td>
                    <td class="record-detail-col">金流單號</td>
                    <td class="record-detail-col">收到了?</td>
                </tr>
            </tfoot>*@
        </table>
    </div>
    <p>目前沒有任何購買歷史</p>
    <input type="text" name="name" value="@userOrderData" id="transJSON" />
</div>
