@model BackingRecordsViewModel
@using System.Text.Json;
@using System.Web.Script.Serialization
@*@using Newtonsoft.Json;*@
@{
    
    var userOrder = Model.MyOrder.Select(x => new { x.OrderName, x.condition, x.TradeNo, x.OrderTotalAccount, x.OrderId });
    var userOrderData = new JavaScriptSerializer().Serialize(userOrder); //o詳細json
    var userOrderDetail = Model.MyOrderDetailList.Select((y) => new { y.OrderDetailId, y.OrderPrice, y.OrderQuantity, y.PlanTitle ,y.OrderId});
    var userOrderDetailData = new JavaScriptSerializer().Serialize(userOrderDetail); //od詳細json


    //-------------------------------------------------------------------------
    var userOrderNoPay = Model.MyOrder.Where(x => x.condition == "未付款").Select(x => new { x.OrderName, x.condition, x.TradeNo, x.OrderTotalAccount, x.OrderId });
    var userOrderDataNoPay = new JavaScriptSerializer().Serialize(userOrderNoPay);
    //-----------------------------------------------------
}



<div class="record-content">
    <h2>購買紀錄</h2>
    <p>在專案結束之前，您都可修改你的回饋寄送資訊，ATM 轉帳與超商付款請於繳費期限內繳款。逾期後訂單會自動消失。</p>
</div>
<span>單筆購買</span>
<div class="record-detail" id="record">
    <div class="record-detillist">
        <table id="mytable" style="width:100%">
            <thead>
                <tr>
                    <th>收貨人名稱</th>
                    <th>購買總金額</th>
                    <th>當前狀態</th>
                    <th>詳細訂單</th>
                    <th>刪除明細</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">          
                    <td>{{item.OrderName}}</td>
                    <td>{{item.OrderTotalAccount}}</td>
                    <td>{{item.condition}}</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" v-on:click="changeJsonOd(item.OrderId)" data-target="#exampleModal">更多</button></td>
                    @*<td><button class="btn btn-primary">刪除</button></td>*@
                </tr>
            </tbody>
        </table>
    </div>
    <input type="text" name="name" value="@userOrderData" id="transJSON" />
    <input type="text" name="name" value="@userOrderDetailData" id="odtransJSON" />


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">訂單詳細資料</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dataitems">
                        <div class="row">                                  
                            <div class="itemTitle">
                                <div class="items">方案單價</div>
                                <div class="items">方案數量</div>
                                <div class="items">方案名稱</div>                                
                            </div>                            
                            <div v-for="item in modeldata " class="detail-group col-12" >                              
                                <div>{{item.OrderPrice}}</div>                                
                                <div id="qty">{{item.OrderQuantity}}</div>
                                <div id="plantitle">{{item.PlanTitle}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>
@*//-----------------------------------------------------------------------------------*@

@*<div class="record-detail" id="nopay">
    <div class="record-detillist">
        <table id="mytable-2" style="width:100%">
            <thead>
                <tr>
                    <th>購買編號</th>
                    <th>收貨人名稱</th>
                    <th>購買總金額</th>
                    <th>金流單號</th>
                    <th>收到了?</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="it in its">
                    <td>{{it.OrderId}}</td>
                    <td>{{it.OrderName}}</td>
                    <td>{{it.OrderTotalAccount}}</td>
                    <td>{{it.TradeNo}}</td>
                    <td>{{it.condition}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="text" name="name" value="@userOrderDataNoPay" id="transNoJSON" />
</div>*@


@section endJS{    
    @*@if (Model != null)
    {*@
        @*<script>
            let getjson = document.getElementById('transJSON');
            var obj = JSON.parse(getjson.value);
            console.log(obj);
            var jsonObj = {
                "items": obj
            };
            var jsondata = JSON.stringify(jsonObj);

            function Binding() {
                new Vue({
                    el: "#record",
                    data: jsonObj
                });
            };

            $(document).ready(function () {
                Binding();
                $("mytable").DataTable({
                    "info": false,
                    "bLengthChange": false,
                    "pageLength": 5
                })
            });
        </script>*@
    @*}
    else
    {
        <p>您目前沒有任何一筆購買紀錄</p>
    }*@
}