@{
    var vm = (MemberViewModel)Session["Member"];
}

<div class="record-content">
    <h2>贊助紀錄</h2>
    <p>在專案結束之前，您都可修改你的回饋寄送資訊，ATM 轉帳與超商付款請於繳費期限內繳款。逾期後訂單會自動消失。</p>
</div>
<span>單筆贊助</span>
<div class="record-detail">
    <div class="record-detillist">
        <div class="record-detail-col">贊助專案</div>
        <div class="record-detail-col">贊助金額</div>
        <div class="record-detail-col">回饋項目</div>
        <div class="record-detail-col">金流單號</div>
        <div class="record-detail-col">收到了?</div>
    </div>
    <p>目前沒有任何贊助歷史</p>
</div>
