@model SubmissionProcessViewModel
@{
    var vm = (MemberViewModel)Session["Member"];
}

<div class="case-doing-item">
    <div class="case-doing-pic">
        <img src="https://picsum.photos/800/600/?random=1">
    </div>
    <div class="case-doing-text">
        <div class="case-doing-name">
            <h4>專案名稱:<span>1</span></h4>
        </div>
        <div class="case-doing-money">
            <h4>目標金額:<span>$5000</span></h4>
        </div>
        <div class="case-doing-money">
            <h4>目前金額:<span>$5000</span></h4>
        </div>

        <div class="case-doing-givedate">
            <h4><span>提交日期:尚未提交</span></h4>
        </div>
        <div class="case-doing-fix">
            <h4><span>起始日期:2021/01/29</span></h4>
        </div>
        <div class="case-doing-fix">
            <h4><span>截止日期:2021/01/29</span></h4>
        </div>
        <div class="case-doing-fix">
            <h4><span>剩餘天數:2021/01/29</span></h4>
        </div>
    </div>
    <div class="button-group">
        <span>狀態</span>
    </div>
</div>
