@model MyProjectViewModel

@{
    var vm = (MemberViewModel)Session["Member"];
    string approvingstatus = (string)ViewData["ApprovingStatus"];
    string id = (string)ViewData["Id"];
}


        <div class="container case-doing-item">
            <div class="case-doing-pic">
                <img src="@Model.ProjectImgUrl">
            </div>
            <div class="case-doing-text">
                <div class="case-doing-name">
                    <h4>
                        專案名稱:
                        <span>@Model.ProjectName</span>
                    </h4>
                </div>
                <div class="case-doing-money">
                    <h4>
                        目標金額:
                        <span>$ @Model.GoalMoney</span>
                    </h4>
                </div>
                <div class="case-doing-creat">
                    <h4>
                        <span>創建日期:@Model.CreatedDate</span>
                    </h4>
                </div>
                <div class="case-doing-givedate">
                    <h4>
                        <span>提交日期:尚未提交</span>
                        <span>提交日期:@Model.SubmittedDate</span>
                    </h4>
                </div>
                <div class="case-doing-fix">
                    <h4>
                        <span>上次修改日期:@Model.LastEditTime</span>
                    </h4>
                </div>
            </div>
            <div class="button-group">
                <button id="btn-fix">修改</button>
                <a id="btn-view" href="/ProjectDetail/Index/@Model.ProjectId">預覽</a>
            </div>
        </div>

@section endJs{
    <script src="~/Assets/Javascript/PersonalInfo/PersonInfo.js"></script>
}