

        <div class="container">
            <div class="case-doing-pic">
                <img src="https://picsum.photos/800/600/?random=1">
            </div>
            <div class="case-doing-text">
                <div class="case-doing-name">
                    <h4>
                        專案名稱:
                        <span>1</span>
                    </h4>
                </div>
                <div class="case-doing-money">
                    <h4>
                        目標金額:
                        <span>$5000</span>
                    </h4>
                </div>
                <div class="case-doing-creat">
                    <h4>
                        <span>創建日期:2021/01/28</span>
                    </h4>
                </div>
                <div class="case-doing-givedate">
                    <h4>
                        <span>提交日期:尚未提交</span>
                    </h4>
                </div>
                <div class="case-doing-fix">
                    <h4>
                        <span>上次修改日期:2021/01/29</span>
                    </h4>
                </div>
            </div>
            <div class="button-group">
                <button id="btn-fix">修改</button>
                <button id="btn-view">預覽</button>
            </div>
        </div>
        