@model MemberViewModel
@*@{
        var vm = (MemberViewModel)Session["Member"];
    }*@
@section topCss{
    input.invalid{
    border:2px solid red;
    }

}


<form action="">
    <div id="user-setting" class="container">
        <div class="form-group row">
            <div class="col-12 col-md-6">
                <blockquote class="colored-label">
                    <p>帳號管理</p>
                </blockquote>
                <div class="login-account form-group">
                    <label for="account">登入帳號</label>
                    <input type="text" class="form-control" id="account" value="@Model.MemberRegEmail" readonly>
                    <span hidden id="memberId">@Model.MemberId</span>
                </div>
                <div class="reset-passward form-group">
                    <label for="inputPassword">原始密碼</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="請輸入舊密碼" value="@Model.MemberPassword">
                </div>
                <div class="reset-passward form-group">
                    <label for="newPassword">變更密碼</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="請輸入新密碼">
                </div>
                <div class="reset-passward form-group">
                    <label for="checkPassword">確認密碼</label>
                    <input type="password" class="form-control" id="checkPassword" placeholder="請再次輸入新密碼">
                </div>
                <button id="change-password" class="btn btn-primary">更改密碼</button>
            </div>
            <div class="col-12 col-md-6" hidden>
                <blockquote for="linked-account" class="colored-label">
                    <p>社群綁定</p>
                </blockquote>
            </div>
        </div>
        <hr>
        <button id="delete-account" class=" btn btn-secondary" hidden>刪除帳號</button>
    </div>
</form>

@section endJS{
    <script src="~/Assets/Javascript/PersonalInfo/PersonInfo.js"></script>

    @*-----------------------------------修改密碼--------------------------------------*@
    @*<script>

        console.log(oldPassword);

        let oldPassword = $('#inputPassword').val();
        let newPassword = $('#newPassword').val();
        let confirmPassword = $('#checkPassword').val();
        let submitBtn = $('#change-password');
        var submit = true;

        console.log(oldPassword);


        var data = {
            MemberId: $('#memberId').text(),
            MemberRegMail: $('#account').val(),
            MemberPassword: newPassword,
        };

        $('#change-password').click(function (e) {
            ModifyPassword();
            console.log(oldPassword);
        });


        function ModifyPassword() {
            console.log(oldPassword);

            if (oldPassword == "") {
                Swal.fire({
                    position: 'top-center',
                    icon: 'warn',
                    title: '原始密碼為空!',
                    showConfirmButton: false,
                    timer: 1500
                })
                submit = false;
            }
            else if (newPassword == "") {
                Swal.fire({
                    position: 'top-center',
                    icon: 'warn',
                    title: '新密碼為空!',
                    showConfirmButton: false,
                    timer: 1500
                })
                submit = false;
            }
            else if (confirmPassword == "") {
                Swal.fire({
                    position: 'top-center',
                    icon: 'warn',
                    title: '確認密碼為空!',
                    showConfirmButton: false,
                    timer: 1500
                })
                submit = false;
            }
            else if (newPassword != confirmPassword) {
                Swal.fire({
                    position: 'top-center',
                    icon: 'warn',
                    title: '兩次輸入密碼不相符',
                    showConfirmButton: false,
                    timer: 1500
                })
                submit = false;
            }
            else {
                submit = true;
                SubmitPwd();
            }

        };



        function SubmitPwd() {
            if (submit) {
                $.ajax({
                    url: 'api/member/loginedchangepassword',
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (res) {
                        if (res == "成功") {
                            Swal.fire({
                                position: 'top-center',
                                icon: 'success',
                                title: '修改成功',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                        else {
                            Swal.fire({
                                position: 'top-center',
                                icon: 'error',
                                title: '修改失敗',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    }
                });
            }
        }
    </script>*@
}