@model MemberViewModel
@*@{
        var vm = (MemberViewModel)Session["Member"];
    }*@
@section topCss{
    input.invalid{
    border:2px solid red;
    }

}
<form action="">
    <div id="user-setting" class="container">
        <div class="form-group row">
            <div class="col-12 col-md-6">
                <blockquote class="colored-label">
                    <p>帳號管理</p>
                </blockquote>
                <div class="login-account form-group">
                    <label for="account">登入帳號</label>
                    <input type="text" class="form-control" id="account" placeholder="@Model.MemberRegEmail" readonly>
                    <span hidden id="memberId">@Model.MemberId</span>
                </div>
                <div class="reset-passward form-group">
                    <label for="inputPassword">原始密碼</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="請輸入舊密碼" value="@Model.MemberPassword" required>
                </div>
                <div class="reset-passward form-group">
                    <label for="newPassword">變更密碼</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="請輸入新密碼" required>
                </div>
                <div class="reset-passward form-group">
                    <label for="checkPassword">確認密碼</label>
                    <input type="password" class="form-control" id="checkPassword" placeholder="請再次輸入新密碼" required>
                </div>
                <button id="change-password" type="submit" class="btn btn-primary">更改密碼</button>
            </div>
            <div class="col-12 col-md-6" hidden>
                <blockquote for="linked-account" class="colored-label">
                    <p>社群綁定</p>
                </blockquote>
            </div>
        </div>
        <hr>
        <button id="delete-account" class=" btn btn-secondary" hidden>刪除帳號</button>
    </div>
</form>

@section endJS{


    @*-----------------------------------修改密碼--------------------------------------*@
    <script>

        let oldPassword = $('#inputPassword').val();
        let newPassword = $('#newPassword').val();
        let confirmPassword = $('#checkPassword').val();
        let submitBtn = $('#change-password');

        var data = {
            MemberId: $('#memberId').text(),
            MemberRegMail: $('#account').val(),
            Password: newPassword,
            
        };

        submitBtn.addEventListener('check', function () {
            var submit = true;
            ModifyPassword();
        });

        function ModifyPassword() {
            if (oldPassword == "") {
                alert('原始密碼為空!');
                submit = false;
                return
            }
            if (newPassword == "") {
                alert('新密碼為空');
                submit = false;
                return
            }
            if (confirmPassword == "") {
                alert('確認密碼為空');
                submit = false;
                return
            }
            if (newPassword != confirmPassword) {
                alert('兩次輸入密碼不相符');
                submit = false;
                return
            }
            //    Swal.fire({
            //        position: 'top-center',
            //        icon: 'error',
            //        title: 'Wrong Password!',
            //        showConfirmButton: true,
            //        timer: 1500
            //    })
            else {
                SubmitPwd();
            }

        };



        function SubmitPwd() {
            if (submit) {
                $.ajax({
                    url: '/api/memberapi/update',
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (res) {
                        if (res.code == 200) {
                            Swal.fire({
                                position: 'top-center',
                                icon: 'success',
                                title: '修改成功',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                        else {
                            Swal.fire({
                                position: 'top-center',
                                icon: 'error',
                                title: '修改失敗',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    }
                })
            };
    </script>
}