@model ProjectTeamFour.ViewModels.MemberViewModel

<section class=person>
    <div class="wrap-inside">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="person-data">
                    <div class="person-data-pic">
                        <img src="@vm.ProfileImgUrl" alt="個人圖片">
                    </div>
                    <div class="person-data-text">
                        <h2>@vm.MemberName</h2>
                        <p>
                            贊助過
                            <span>0</span>件專案/發起過
                            <span>0</span>件專案
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-some">
    <div class="wrap-inside">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="about-case">
                    <h2>贊助過的專案</h2>
                    <p>目前還沒有贊助過任何專案</p>
                </div>
            </div>
        </div>
    </div>
</section>