@*@model ProjectTeamFour.ViewModels.HomeViewModel*@
@model IEnumerable<ProjectTeamFour.ViewModels.ProjectViewModel>



@section topCSS{
    <link href="~/Assets/Css/HomePage/homepagesearch.css" rel="stylesheet" />
    }

<!-- 熱門專案 -->
<section class="popular-project">
    <div class="container">

        <div class="popular-project-item title-bar d-flex justify-content-between">
            <div class="title-bar-item title">
                <h2>熱門項目</h2>
            </div>
            <div class="title-bar-item see-more">
                <a href="/Projects/Index">查看更多 ></a>
            </div>
        </div>

        <div class="popular-project-item cardtemplate-section">
            <div class="row">


                @*@for (int i = 0; i < 6; i++)
                {
                    @Html.Partial("~/Views/Shared/PartialView/_ProjectCardPartial.cshtml", Model.ProjectItem.ProjectItems[i]);
                }*@

                @foreach (var item in Model)
                {
                    @Html.Partial("~/Views/Shared/PartialView/_ProjectCardPartial.cshtml", item);
                }

            </div>
        </div>

        <div class="popular-project-item title-bar">
            <div class="title-bar-item phone-see-more">
                <a href="">查看更多 ></a>
            </div>
        </div>

    </div>
</section>
