@*@model ProjectTeamFour.ViewModels.HomeViewModel*@
@model IEnumerable<ProjectTeamFour.ViewModels.ProjectViewModel>



@section topCSS{
    <link href="~/Assets/Css/HomePage/homepagesearch.css" rel="stylesheet" />
}

@{
    DateTime today = DateTime.UtcNow.AddHours(8);
    bool show = false;
}

<!-- 熱門專案 -->
<section class="popular-project">
    <div class="container">

        <div class="popular-project-item title-bar d-flex justify-content-between">
            <div class="title-bar-item title">
                <h2>搜尋結果:</h2>
            </div>
            <div class="title-bar-item see-more">
                <a href="/Projects/Index">更多專案 ></a>
            </div>
        </div>

        <div class="popular-project-item cardtemplate-section">
            <div class="row">

                @if (!Model.Any())
                {
                    <p>親愛的，目前無您查詢的對應專案 !</p>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        double dateLine = Convert.ToInt32(new TimeSpan(item.EndDate.Ticks - today.Ticks).TotalDays);
                        if (item.ApprovingStatus == 2 && dateLine > 0)
                        {
                            show = true;
                            break;
                        }
                    }

                    if (show == true)
                    {
                        foreach (var item in Model)
                        {
                            @Html.Partial("~/Views/Shared/PartialView/_ProjectCardPartial.cshtml", item);
                        }
                    }
                    else
                    {
                        <p>親愛的，目前無您查詢的對應專案 !</p>
                    }
                }


            </div>
        </div>

        <div class="popular-project-item title-bar">
            <div class="title-bar-item phone-see-more">
                <a href="/Projects/Index">更多專案 ></a>
            </div>
        </div>

    </div>
</section>
