@{
    Layout = "_Login";
}

<div class="login-box" id="login">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <span class="login-title">CarCar Admin</span>
        </div>
        <div class="card-body">
            

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="輸入管理者信箱" id="email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="密碼" id="password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block btn-login">Sign In</button>
                </div>
                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
                <!-- /.col -->
            </div>


            <!-- /.social-auth-links -->

          
           
        </div>
      
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<script src="~/js/manager/manager.js"></script>