
@{
    ViewBag.Title = "Index";
}
@section topCSS{
    <link href="~/Assets/Css/ShoppingCartPage/ShoppingCart.css" rel="stylesheet" />
    }
@section topJS{
    }

<section class="shopping-cart">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-6 main-title">
                <div class="sticky">
                    <h1>Shopping Cart</h1>
                </div>

            </div>


            <div class="shop-items col-lg-6">
                <div class="col-sm-12 col-md-12 shop-item">
                    <div class="cart-item">
                        <a href="#" class="thumbnail">
                            <img src="~/Assets/Img/ShoppingCart/test1.png">
                        </a>
                        <div class="content">
                            <a href="#" class="title">Shape Paper Clips in Silver Teardrop</a>
                            <span class="price">$14.00</span>
                        </div>
                        <div class="actions">
                            <input class="qty" type="number" name="updates[]"
                                   id="updates_13864137195572" value="1" min="0" aria-label="Quantity"> <a href="#"
                                                                                                           class="remove" aria-label="Remove item from cart">
                                <span aria-hidden="true">
                                    <svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg"
                                         xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px"
                                         height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60"
                                         xml:space="preserve">
                                    <polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 ">
                                            </polygon>
                                        </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12  shop-item">
                    <div class="cart-item">
                        <a href="#" class="thumbnail">
                            <img src="~/Assets/Img/ShoppingCart/test2.png"
                                 alt="Shape Paper Clips in Silver Teardrop">
                        </a>
                        <div class="content">
                            <a href="#" class="title">Shape Paper Clips in Silver Teardrop</a>
                            <span class="price">$14.00</span>
                        </div>
                        <div class="actions">
                            <input class="qty" type="number" name="updates[]"
                                   id="updates_13864137195572" value="1" min="0" aria-label="Quantity"> <a href="#"
                                                                                                           class="remove" aria-label="Remove item from cart">
                                <span aria-hidden="true">
                                    <svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg"
                                         xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px"
                                         height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60"
                                         xml:space="preserve">
                                    <polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 ">
                                            </polygon>
                                        </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12  shop-item">
                    <div class="cart-item">
                        <a href="#" class="thumbnail">
                            <img src="~/Assets/Img/ShoppingCart/test3.jpg"
                                 alt="Shape Paper Clips in Silver Teardrop">
                        </a>
                        <div class="content">
                            <a href="#" class="title">
                                Shape Paper Clips in Silver Teardrop Lorem,
                                ipsum dolor sit amet consectetur adipisicing elit. Iste, itaque rerum doloremque
                                odit exercitationem numquam. Adipisci quo iure nihil eius libero, repellendus
                                facilis beatae nemo repellat tempora iusto nobis suscipit.
                            </a>
                            <span class="price">$14.00</span>
                        </div>
                        <div class="actions">
                            <input class="qty" type="number" name="updates[]"
                                   id="updates_13864137195572" value="1" min="0" aria-label="Quantity"> <a href="#"
                                                                                                           class="remove" aria-label="Remove item from cart">
                                <span aria-hidden="true">
                                    <svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg"
                                         xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px"
                                         height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60"
                                         xml:space="preserve">
                                    <polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 ">
                                            </polygon>
                                        </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12  shop-item">
                    <div class="cart-item">
                        <a href="#" class="thumbnail">
                            <img src="~/Assets/Img/ShoppingCart/test4.jpg"
                                 alt="Shape Paper Clips in Silver Teardrop">
                        </a>
                        <div class="content">
                            <a href="#" class="title">
                                Shape Paper Clips in Silver Teardrop Lorem,
                                ipsum dolor sit amet consectetur adipisicing elit. Iste, itaque rerum doloremque
                                odit exercitationem numquam. Adipisci quo iure nihil eius libero, repellendus
                                facilis beatae nemo repellat tempora iusto nobis suscipit.
                            </a>
                            <span class="price">$14.00</span>
                        </div>
                        <div class="actions">
                            <input class="qty" type="number" name="updates[]"
                                   id="updates_13864137195572" value="1" min="0" aria-label="Quantity"> <a href="#"
                                                                                                           class="remove" aria-label="Remove item from cart">
                                <span aria-hidden="true">
                                    <svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg"
                                         xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px"
                                         height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60"
                                         xml:space="preserve">
                                    <polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 ">
                                            </polygon>
                                        </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12  shop-item">
                    <div class="cart-item">
                        <a href="#" class="thumbnail">
                            <img src="~/Assets/Img/ShoppingCart/test5.jpg"
                                 alt="Shape Paper Clips in Silver Teardrop">
                        </a>
                        <div class="content">
                            <a href="#" class="title">
                                Shape Paper Clips in Silver Teardrop Lorem,
                                ipsum dolor sit amet consectetur adipisicing elit. Iste, itaque rerum doloremque
                                odit exercitationem numquam. Adipisci quo iure nihil eius libero, repellendus
                                facilis beatae nemo repellat tempora iusto nobis suscipit.
                            </a>
                            <span class="price">$14.00</span>
                        </div>
                        <div class="actions">
                            <input class="qty" type="number" name="updates[]"
                                   id="updates_13864137195572" value="1" min="0" aria-label="Quantity"> <a href="#"
                                                                                                           class="remove" aria-label="Remove item from cart">
                                <span aria-hidden="true">
                                    <svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg"
                                         xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px"
                                         height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60"
                                         xml:space="preserve">
                                    <polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 ">
                                            </polygon>
                                        </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12  shop-item">
                    <div class="cart-item">
                        <a href="#" class="thumbnail">
                            <img src="~/Assets/Img/ShoppingCart/test6.jpg"
                                 alt="Shape Paper Clips in Silver Teardrop">
                        </a>
                        <div class="content">
                            <a href="#" class="title">
                                Shape Paper Clips in Silver Teardrop Lorem,
                                ipsum dolor sit amet consectetur adipisicing elit. Iste, itaque rerum doloremque
                                odit exercitationem numquam. Adipisci quo iure nihil eius libero, repellendus
                                facilis beatae nemo repellat tempora iusto nobis suscipit.
                            </a>
                            <span class="price">$14.00</span>
                        </div>
                        <div class="actions">
                            <input class="qty" type="number" name="updates[]"
                                   id="updates_13864137195572" value="1" min="0" aria-label="Quantity"> <a href="#"
                                                                                                           class="remove" aria-label="Remove item from cart">
                                <span aria-hidden="true">
                                    <svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg"
                                         xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px"
                                         height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60"
                                         xml:space="preserve">
                                    <polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 ">
                                            </polygon>
                                        </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12  shop-item">
                    <div class="cart-item">
                        <a href="#" class="thumbnail">
                            <img src="~/Assets/Img/ShoppingCart/test2.png"
                                 alt="Shape Paper Clips in Silver Teardrop">
                        </a>
                        <div class="content">
                            <a href="#" class="title">
                                Shape Paper Clips in Silver Teardrop Lorem,
                                ipsum dolor sit amet consectetur adipisicing elit. Iste, itaque rerum doloremque
                                odit exercitationem numquam. Adipisci quo iure nihil eius libero, repellendus
                                facilis beatae nemo repellat tempora iusto nobis suscipit.
                            </a>
                            <span class="price">$14.00</span>
                        </div>
                        <div class="actions">
                            <input class="qty" type="number" name="updates[]"
                                   id="updates_13864137195572" value="1" min="0" aria-label="Quantity"> <a href="#"
                                                                                                           class="remove" aria-label="Remove item from cart">
                                <span aria-hidden="true">
                                    <svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg"
                                         xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px"
                                         height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60"
                                         xml:space="preserve">
                                    <polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 ">
                                            </polygon>
                                        </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12  shop-item">
                    <div class="cart-item">
                        <a href="#" class="thumbnail">
                            <img src="~/Assets/Img/ShoppingCart/test3.jpg"
                                 alt="Shape Paper Clips in Silver Teardrop">
                        </a>
                        <div class="content">
                            <a href="#" class="title">
                                Shape Paper Clips in Silver Teardrop Lorem,
                                ipsum dolor sit amet consectetur adipisicing elit. Iste, itaque rerum doloremque
                                odit exercitationem numquam. Adipisci quo iure nihil eius libero, repellendus
                                facilis beatae nemo repellat tempora iusto nobis suscipit.
                            </a>
                            <span class="price">$14.00</span>
                        </div>
                        <div class="actions">
                            <input class="qty" type="number" name="updates[]"
                                   id="updates_13864137195572" value="1" min="0" aria-label="Quantity"> <a href="#"
                                                                                                           class="remove" aria-label="Remove item from cart">
                                <span aria-hidden="true">
                                    <svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg"
                                         xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px"
                                         height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60"
                                         xml:space="preserve">
                                    <polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 ">
                                            </polygon>
                                        </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-sm-12 col-lg-6">
                <textarea name="note" id="cartSpecialInstructions" placeholder="Special instructions for seller"
                          aria-label="Special instructions for seller"></textarea>
            </div>
        </div>
    </div>
</section>
<section class="cart-out">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-sm-12 col-lg-6">
                <p class="total" id="CartTotal">Total: <span>$56.98</span></p>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-sm-12 buttons-group col-lg-6">

                <a href="/pay/Index"><input type="submit" name="checkout" value="Checkout" class="checkout"></a>
                
                <button name="update" class="button outline less-padding" aria-label="Update cart" class="reload">
                    <i class="fas fa-redo"></i>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="wish-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="wish-title">
                    <P>
                        Wish List Projects
                    </P>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="wish-list-image">
                    <a href="#">
                        <img src="~/Assets/Img/ShoppingCart/projecttest1.jpg" alt="">
                    </a>
                </div>
                <div class="wish-list-text">
                    <a href="#r"> <span class="title">Food Planner</span> <span class="price">$28.00 USD <span>起</span> </span> </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="wish-list-image">
                    <a href="#">
                        <img src="~/Assets/Img/ShoppingCart/projecttest2.jpg" alt="">
                    </a>
                </div>
                <div class="wish-list-text">
                    <a href="#r">
                        <span class="title">
                            Bento Box in Elements Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Rem vitae libero dolorem atque illum minus rerum cumque sint beatae
                            ratione distinctio, porro harum! Impedit, necessitatibus quaerat optio sed deserunt
                            vel?
                        </span>
                        <span class="price">$28.00 USD<span>起</span> </span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="wish-list-image">
                    <a href="#">
                        <img src="~/Assets/Img/ShoppingCart/projecttest3.jpg" alt="">
                    </a>
                </div>
                <div class="wish-list-text">
                    <a href="#r"> <span class="title">Food Planner</span> <span class="price">$28.00 USD<span>起</span> </span> </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="wish-list-image">
                    <a href="#">
                        <img src="~/Assets/Img/ShoppingCart/projecttest4.jpg" alt="">
                    </a>
                </div>
                <div class="wish-list-text">
                    <a href="#r"> <span class="title">Food Planner</span> <span class="price">$28.00 USD<span>起</span> </span> </a>
                </div>
            </div>
        </div>


    </div>
    </div>
</section>
