html {
  font-family: benton-sans, Helvetica, "Sans-serif";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: #2a2a2a;
  text-align: left;
  font-size: 16px;
}
/* body a {
  color: #2a2a2a;
} */
@media (max-width: 576.98px) {
  #backit-btn a {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #leftside-main-col {
    width: 33.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
  .container {
    max-width: 1220px;
  }
}

.badge:hover {
  color: #e51075;
}

#product-info .badge-secondary {
  background-color: #ffffff;
  color: #088366;
  font-size: 14px;
}

#product-info ol {
  background-color: #ffffff;
}

#info-text {
  width: 25rem;
}
#donating-amount button {
  background-color: #ffffff;
  border: none;
  font-size: 1.25rem;
  font-weight: 800;
}

#follow-btn,
#back-it-btn {
  background-color: #ffffff;
  color: #2a2a2a;
  text-decoration: none;
  padding: 1px 6px;
}

#follow-btn:hover {
  background-color: #f5f5f5;
}

#follow-icon a {
  color: #2a2a2a;
}

#select-perk .container {
  margin: 0 8vh;
  font-size: 0.5em;
  list-style: none;
}

.btn-primary {
  border: none;
  background-color: #f5f5f5;
  color: #e51075;
  font-size: 0.7rem;
}

.btn-primary:hover {
  background-color: #e51075;
  color: #ffffff;
}

#tab-labels a {
  text-decoration: none;
}

#tab-labels a:checked {
  border-bottom: 1rem solid #2a2a2a;
}

#story {
  margin: auto;
  max-width: 1220px;
}

#tags a {
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #949494;
  border: 0.05rem solid #949494;
  border-radius: 0em;
}

#tags a:hover {
  color: #e51075;
}

#footer-before .container {
  background-color: #949494;
}

#founding-suggestion-card .card:hover {
  border-radius: 1rem solid #949494;
  -webkit-border-radius: 1rem solid #949494;
  -moz-border-radius: 1rem solid #949494;
  -ms-border-radius: 1rem solid #949494;
  -o-border-radius: 1rem solid #949494;
}

#FAQ .container {
  width: 30rem;
  color: #2a2a2a;
  border: 0.01rem solid #949494;
  text-align: center;
  margin: 2rem 0 0;
  padding: 1rem;
}

#FAQ a {
  text-align: center;
  color: #949494;
}

#find-it-first {
  text-align: center;
}

#icon-wrapper {
  justify-content: center;
  color: #2a2a2a;
}

#personal-settings a {
  display: inline-block;
  text-decoration: none;
  color: #2a2a2a;
}

.footer {
  background-color: #f5f5f5;
  padding: 2.5em 0.5em --1rem;
}

.footer li a {
  list-style: none;
  text-decoration: none;
  color: #2a2a2a;
}
