@*@functions{ public IHtmlString stringFormat(string input)
        {
            int index = input.IndexOf('.');

            if (input.Length >= index + 2)
            {
                input = input.Substring(0, index + 2) + "%";
            }
            return new HtmlString(@input);
        }
    }*@


@helper StringFormat(string input)
{
    int index = input.IndexOf('.');

    if (input.Length >= index + 2)
    {
        input = input.Substring(0, index + 2) + "%";
    }
    <p>@input</p>
}



@helper CountDown(DateTime deadline_dateTime)
{
    DateTime dateTime_now = DateTime.Now;
    TimeSpan timeSpan = deadline_dateTime - dateTime_now;
    double span_minuts = timeSpan.TotalMinutes;
    if (span_minuts <= 0)
    {
        <p>時間已到</p>
    }
    else
    {
        int days = 0;
        int hours = 0;
        int minuts = 0;
        days = (int)span_minuts / 60 / 24;
        hours = (int)span_minuts / 60 % 24;
        minuts = (int)span_minuts % 60;

        if (days != 0)
        {
            <p>@(days + "天")</p>
        }
        else if (hours == 0)
        {
            <p>@(hours + "小時")</p>
        }
        else
        {
            <p>@(minuts + "分鐘")</p>
        }
    }
}


@helper Judgement(decimal goalmoney, decimal nowmoney)
{
    if (goalmoney <= nowmoney)
    {
        <span>Succes</span>
    }
}

