@helper StringFormat(string input)
{
    int index = input.IndexOf('.');

    if (input.Length >= index + 2)
    {
        input = input.Substring(0, index + 2) + "%";
    }
    <p>@input</p>
}


@helper CountDown(DateTime deadline_dateTime)
{
    DateTime dateTime_now = DateTime.Now;
    TimeSpan timeSpan = deadline_dateTime - dateTime_now;
    double span_minuts = timeSpan.TotalMinutes;
    if (span_minuts <= 0)
    {
        <p>時間已到</p>
    }
    else
    {
        int days = 0;
        int hours = 0;
        int minuts = 0;
        days = (int)span_minuts / 60 / 24;
        hours = (int)span_minuts / 60 % 24;
        minuts = (int)span_minuts % 60;

        if (days != 0)
        {
            <p>@(days + "天")</p>
        }
        else if (hours == 0)
        {
            <p>@(hours + "小時")</p>
        }
        else
        {
            <p>@(minuts + "分鐘")</p>
        }
    }
}


@helper Judgement(decimal goalmoney, decimal nowmoney)
{
    if (goalmoney <= nowmoney)
    {
        <span>Succes</span>
    }
}

@helper ShowMemberMessage(ProjectTeamFour.ViewModels.MemberViewModel member)
{
    <a class="dropdown-item" href="/PersonInfo/Index">個人頁面</a>
    <hr />
    <a class="dropdown-item" href="/PersonInfo/Sponser">贊助紀錄</a>
    <a class="dropdown-item" href="/PersonInfo/Submit">提案紀錄</a>
    <hr />
    <a class="dropdown-item" href="/PersonInfo/Connect">聯絡訊息</a>
    <a class="dropdown-item" href="/PersonInfo/New">最新通知</a>
    <a class="dropdown-item" href="/Member/Logout">登出</a>
}
@helper ShowNoLogin()
{
    <a class="dropdown-item" href="/Member/Login">登入</a>
    <a class="dropdown-item" href="/Member/Register">註冊</a>
}

@helper ShowLoginPic(string input, string gender)
{
    if (string.IsNullOrEmpty(input))
    {
        if (gender == "男性")
        {
            <img src="~/Assets/Img/Sign/man.png" width="30" height="30" name="memberimg" />
        }
        else if (gender == "女性")
        {
            <img src="~/Assets/Img/Sign/woman.png" width="30" height="30" name="memberimg" />
        }
    }
    else
    {
        <img src=@input width="30" height="30" name="memberimg" />
    }}
@helper ShowNoLoginPic()
{
    <img src="~/Assets/Img/Sign/questionMark.png" width="30" height="30" name="memberimg" />
}




@* 錢加逗號用 - Phil *@
@helper addComma(int amount)
{
    int currentAmount = amount;
    string transformAmount = currentAmount.ToString("#,0");
    <p>$@transformAmount</p>
}






