/* 熱門專案 */

.popular-project {
    padding: 0 0.6rem;
}

    .popular-project .title-bar {
        padding-bottom: 2rem;
        letter-spacing: 0.1rem;
    }

    .popular-project .title h2 {
        font-size: 1.25rem;
        border-left: 0.5rem solid #f9414a;
        padding-left: 0.5rem;
        font-weight: 700;
    }

    .popular-project .see-more a {
        text-decoration: none;
        color: #f9414a;
        font-weight: 800;
        display: none;
    }

        .popular-project .see-more a:hover {
            color: #000;
        }

    .popular-project .phone-see-more a {
        text-decoration: none;
        color: #f9414a;
        font-weight: 800;
    }

        .popular-project .phone-see-more a:hover {
            color: #000;
        }

    .popular-project .money {
        border-right: 1px solid #aaa;
        padding-right: 0.5rem;
    }

    .popular-project .percent {
        padding-left: 0.5rem;
    }

    .popular-project .cardtemplate {
        margin-bottom: 3rem;
    }

        .popular-project .cardtemplate a {
            color: #000;
            text-decoration: none;
        }

    .popular-project .cardtemplate-item p {
        margin-bottom: 0;
    }

    .popular-project .project-name {
        height: 3rem;
    }


    .popular-project .tag-item {
        background-color: #f7f7f7;
        padding: 0.4rem 0.6rem;
        margin: 0.6rem 0;
        letter-spacing: 0.1rem;
    }

        .popular-project .tag-item p {
            font-size: 0.8rem;
        }

    .popular-project .status p {
        color: #f9414a;
        font-weight: 700;
    }

    .popular-project .status {
        margin-left: 0.8rem;
    }

    .popular-project .project-name h3 {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0;
        line-height: 1.55rem;
        font-weight: 700;
    }

    .popular-project .project-team {
        padding-bottom: 2rem;
        letter-spacing: 0.1rem;
    }

        .popular-project .project-team p {
            color: rgb(128, 127, 127);
            font-size: 0.9rem;
        }

    .popular-project .project-progressbar-item {
        background-color: #f9414a;
        height: 0.2rem;
    }

    .popular-project .project-progressnumber {
        padding-top: 1rem;
        letter-spacing: 0.1rem;
    }

        .popular-project .project-progressnumber p {
            font-size: 0.75rem;
            font-weight: 700;
        }

    .popular-project .project-name:hover {
        color: #f9414a;
    }

    .popular-project .cardtemplate:hover img {
        transform: scale(1.1);
    }

    .popular-project .project-picture {
        overflow: hidden;
    }

        .popular-project .project-picture img {
            transition: .4s;
        }

@media screen and (min-width: 768px) {
    .popular-project .see-more a {
        display: block;
    }

    .popular-project .phone-see-more a {
        display: none;
    }

    .popular-project .title h2 {
        font-size: 1.45rem;
        letter-spacing: 0.2rem;
    }

    .popular-project .tag-item p {
        font-size: 0.9rem;
    }

    .popular-project .project-progressnumber p {
        font-size: 0.95rem;
    }
}
