
@section topCSS{
    <link href="~/Assets/Css/StartAProjectPage/StartAProject.css" rel="stylesheet" />
}


@section endJS{
    <script src="~/Assets/Javascript/StartAProjectPage/StartAProject.js"></script>
}


<div id="myapp">
    <section class="project-proposal-landing">
        <div class="container d-flex flex-column align-items-center">
            <div class="project-proposal-landing-item title pt-4">
                <div class="">開始提案</div>
            </div>
            <div class="project-proposal-landing-item project-name-input d-flex">
            </div>
            <div class="project-proposal-landing-item check-terms">
                <div class="check-terms-item">
                    <p class="read-terms">請確認以下事項，確保您符合 集資車車 提案人的身份</p>
                </div>
                <div class="check-terms-item">
                    <ul>
                        <li>
                            您已滿 18 歲是具備完全行為能力的自然人，或是合法登記的法人或團體<br><br>
                            <p>若提案者為未成年人，應由其法定代理人閱讀、暸解，才可進行提案流程。</p>
                        </li>

                        <li>
                            您是具有台灣居住地址、銀行帳戶及國籍的自然人或法人<br><br>
                            <p>目前 集資車車 只限定台灣用戶，國外單位提案必須有台灣分公司或代理人，並且由台灣代理人提交專案。</p>
                        </li>
                    </ul>
                </div>
                <div class="check-terms-item checkbox w-100">
                    <!-- <form action="/StartAProject/SubmissionProcess"> -->
                    <div class="checkbox-item d-flex">
                        <input class="inputcheckbox pt-2" type="checkbox" style="zoom:200%;" value="false"
                               v-model="inputData.term" v-on:change="watchStatus" v-bind:class="{ 'is-invalid': inputDataError.termError}">
                        <label for="" class="pt-xl-1">
                            您已符合以上敘述並同意 集資車車 <a href="#">網站使用條款</a>及<a href="#">提案者合約</a>
                        </label>

                    </div>
                    <div class="text-danger mt-1">
                        {{ inputDataErrorMsg.termErrorMsg }}
                    </div>

                    <div class="checkbox-item d-flex justify-content-center">
                        <a href="#" class="submitbutton" v-on:click="checkSubmit" v-on:click.prevent="">開始撰寫提案</a>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </section>
</div>