@section topCSS{
    <link href="~/Assets/Css/StartAProjectPage/submitfail.css" rel="stylesheet" />
}


<div class="finishedsendemail" id="finishedsendemail">
    <section class="submitfailpage">

        <div class="container d-flex flex-column">
            <div class="submitfailpage-item text-center">
                <h3>提交失敗..</h3>
            </div>

            <div class="inputbox-item pb-3">
                <p class="d-flex justify-content-center welcome text-center">目前提案系統維修中<br>有任何問題可以聯絡集資車車客服</p>
            </div>

            <div class="submitfailpage-item inputbox">
                <div class="inputbox-item">
                    <a href="#" class="d-flex justify-content-center send-email" v-on:click="sendToApi">
                        <p>- 返回個人頁面 -</p>
                    </a>
                </div>
                <hr>
            </div>
            <div class="submitfailpage-item d-flex justify-content-between changestatus">
                <a href="#" class="d-flex again">
                    <i class="fas fa-angle-double-right pt-1 pr-2"></i>
                    <p>返回首頁</p>
                </a>
                <a href="#" class="normal-question">常見問題</a>
            </div>
        </div>
    </section>

</div>

