@section topCSS{
    <link href="~/Assets/Css/StartAProjectPage/submissionprocess.css" rel="stylesheet" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
}

@section endJS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="~/Assets/Javascript/StartAProjectPage/submissionprocess.js"></script>
}


<div id="myApp">

    <section class="project-proposal pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills mb-3 d-flex justify-content-center flex-nowrap" id="pills-tab"
                        role="tablist">

                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-outline-tab" data-toggle="pill"
                               href="#pills-outline" role="tab" aria-controls="pills-outline"
                               aria-selected="true">專案大綱</a>
                        </li>


                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-content-tab" data-toggle="pill" href="#pills-content"
                               role="tab" aria-controls="pills-content" aria-selected="false">專案內容</a>
                        </li>


                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-reward-tab" data-toggle="pill" href="#pills-reward"
                               role="tab" aria-controls="pills-reward" aria-selected="false">回饋設定</a>
                        </li>


                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                               role="tab" aria-controls="pills-contact" aria-selected="false">提案資料</a>
                        </li>

                    </ul>


                    <form action="" novalidate>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active outline" id="pills-outline" role="tabpanel"
                                 aria-labelledby="pills-outline-tab">

                                <div class="outline-item guide">
                                    <div class="guide-item form-description">
                                        <h3 class="text-center">
                                            在這個區塊您將填寫專案內容中最吸引人募資影片、封面圖片和專案說明，以及最核心的資訊如：募資目標、時程。大綱撰寫技巧：提案百科：起點、提案百科：文案、提案百科：影片。
                                        </h3>
                                    </div>
                                </div>
                                <div class="outline-item project-mixedbox pb-3">
                                    <div class="row">

                                        <div class="col-12 col-sm-6 mb-2 mb-sm-0 mb-md-0">
                                            <div class="project-cardpreview-border h-100">
                                                <div class="project-mixedbox-item project-cardpreview">
                                                    <div class="project-cardpreview-item task-title">
                                                        <h3>專案卡預覽</h3>
                                                    </div>
                                                    <div class="project-cardpreview-item card-template">
                                                        <div class="card-template-item w-100">
                                                            <div class="ProjectMainUrlGrayBox">
                                                                <img :src="inputData.ProjectMainUrl"
                                                                     alt="ProjectMainUrl"
                                                                     class="ProjectMainUrlPreviewPic w-100"
                                                                     id="ProjectMainUrlPreviewPic">
                                                            </div>
                                                        </div>

                                                        <div class="d-flex bg-white">

                                                            <div class="card-template-item category">
                                                                <p v-if="inputData.Category === '' ">專案分類</p>
                                                                <p v-else>{{ inputData.Category }}</p>
                                                            </div>

                                                            <div class="card-template-item process">
                                                                <p>集資中</p>
                                                            </div>

                                                        </div>

                                                        <div class="card-template-item title bg-white">
                                                            <p>{{ inputData.ProjectName }}</p>
                                                        </div>

                                                        <div class="card-template-item team bg-white">
                                                            <p>{{ inputData.MemberName }}</p>
                                                        </div>

                                                        <div class="card-template-item progress-bar bg-white">
                                                            <div class="progress-bar-item"></div>
                                                        </div>
                                                        <div class="card-template-item progress-number d-flex justify-content-between pb-3 bg-white">
                                                            <div class="progress-number-item d-flex">
                                                                <div class="progress-amount pr-1 make-line">
                                                                    $目前金額
                                                                </div>
                                                                <div class="progress-percent pl-1">
                                                                    募資進度%
                                                                </div>
                                                            </div>
                                                            <div class="progress-number-item">
                                                                <div class="progress-daysleft">
                                                                    還剩幾天
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="project-mixedbox-item project-title-and-summary h-100 d-flex flex-column justify-content-between">

                                                <div class="project-title">
                                                    <div class="project-title-item task-title">
                                                        <h3>專案標題(ProjectName)(ok)</h3>
                                                    </div>
                                                    <div class="project-title-item">
                                                        <input type="text" class="w-100 form-control"
                                                               v-model="inputData.ProjectName"
                                                               v-bind:class="{ 'is-invalid': inputDataCheck.ProjectNameError}">
                                                        <div class="text-danger small mt-1">
                                                            {{ inputDataCheck.ProjectNameErrorMsg }}
                                                        </div>
                                                    </div>
                                                    <div class="project-title-item pb-2">
                                                        <p>
                                                            一個好的標題應該要好記、好搜尋、吸引人想點進去看，並讓瀏覽者能在最短的時間內瞭解專案的核心理念。
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="project-targetamount">
                                                    <div class="targetamount-item task-title mt-0">
                                                        <h3>募資目標(AmountThreshold)(ok)</h3>
                                                    </div>
                                                    <div class="targetamount-item">
                                                        <input type="number" class="w-100 form-control" min="5000"
                                                               v-model="inputData.AmountThreshold"
                                                               v-bind:class="{ 'is-invalid': inputDataCheck.AmountThresholdError}">
                                                        <div class="text-danger small mt-1">
                                                            {{ inputDataCheck.AmountThresholdErrorMsg }}
                                                        </div>
                                                    </div>
                                                    <div class="targetamount-item pb-2">
                                                        <p>
                                                            募資目標金額最低為 $5,000
                                                            元。設定目標金額時，除了考量專案執行的成本支出外，也必須考慮回饋項目的成本。
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="project-cover">
                                                    <div class="project-cover-item task-title mt-0">
                                                        <h3>專案封面(ProjectMainUrl)</h3>
                                                    </div>
                                                    <div class="project-cover-item">
                                                        <div class="custom-file">
                                                            <input class="w-100 bg-white form-control" type="file"
                                                                   v-on:change="getProjectMainUrl"
                                                                   ref="projectmainpicfileupload">
                                                            <div class="text-danger small mt-1">
                                                                {{ inputDataCheck.ProjectMainUrlErrorMsg }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="project-cover-item">
                                                        <p>JPEG、PNG 或 BMP 檔，圖片尺寸至少 1024x768 px (4:3), 2MB 以內。</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="outline-item project-category">
                                    <div class="project-category-item task-title">
                                        <h3>專案分類(Category)</h3>
                                    </div>
                                    <div class="project-category-item w-100">
                                        <select id="categories" class="w-100 form-control"
                                                v-model="inputData.Category" v-on:change="getCategory">
                                            <option disabled selected>選擇領域</option>
                                            <option value="科技設計">科技設計</option>
                                            <option value="音樂">音樂</option>
                                            <option value="藝術影視">藝術影視</option>
                                            <option value="生活">生活</option>
                                            <option value="公共在地">公共在地</option>
                                            <option value="遊戲出版">遊戲出版</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="outline-item project-period">
                                    <div class="project-period-item task-title">
                                        <h3>募資開始與結束時間(StartDate & EndDate)(未驗證Vue有問題)</h3>
                                    </div>
                                    <div class="project-period-item d-flex justify-content-center">
                                        <input class="w-50 pl-3 form-control" type="date"
                                               v-model="inputData.StartDate"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.StartDateError}"
                                               v-on:change="getStartDateAndEndDate">
                                        <input class="w-50 pl-3 form-control" type="date"
                                               v-model="inputData.EndDate"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.EndDateError}"
                                               v-on:change="getStartDateAndEndDate">
                                    </div>
                                    <div class="text-danger small mt-1">
                                        {{ inputDataCheck.StartDateAndEndDateErrorMsg }}
                                    </div>
                                    <div class="project-period-item">
                                        <p>
                                            專案提交後需要七個工作天進行內容檢視，所以開始時間至少為 7 天後。募資天數最短為 7 天，最長為 60 天。系統預設募資開始時間為
                                            12:00，結束時間為
                                            23:59:59，如需調整請於提交後與您的專案經理討論。
                                        </p>
                                    </div>
                                </div>
                                <div class="outline-item project-video">
                                    <div class="project-video-item task-title">
                                        <h3>專案影片(ProjectVideoUrl)</h3>
                                    </div>
                                    <div class="project-video-item">
                                        <input class="w-100 pl-3 form-control" type="url"
                                               placeholder="請輸入 Youtube 或 Vimeo 影片網址"
                                               v-model="inputData.ProjectVideoUrl"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.ProjectVideoUrlError}"
                                               required>
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.ProjectVideoUrlErrorMsg }}
                                        </div>
                                    </div>
                                    <div class="project-video-item">
                                        <p>
                                            影音介紹：生動影音更能抓住目光，在短時間傳達訊息。 用 2
                                            分鐘左右的影片，試著說明你計劃中的強項：計劃目標、計劃或產品的特色、如何達成計劃、團隊介紹、過往事跡、產品使用展示…等。讓一定要被看到的、贊助者會想看到的部分儘量放在前段。製作影片的小技巧：提案百科
                                        </p>
                                    </div>
                                </div>
                                <div class="outline-item project-videocover">
                                    <div class="videocover-item task-title">
                                        <h3>影片封面預覽(ProjectCoverUrl)</h3>
                                    </div>
                                    <div class="videocover-item">
                                        <div class="VideoCoverGrayBox">
                                            <img :src="inputData.ProjectCoverUrl" alt="ProjectCoverUrl"
                                                 class="ProjectCoverUrlPreviewPic w-100"
                                                 id="ProjectCoverUrlPreviewPic">
                                        </div>
                                    </div>
                                    <div class="videocover-item pb-2">
                                        <p>
                                            請提供 JPEG、PNG 或 BMP 檔，圖片尺寸至少 1280 x 720 px (16:9)； 2MB
                                            以內。此封面也將成為您的專案分享連結預覽圖片。
                                        </p>
                                    </div>
                                    <div class="videocover-item">
                                        <input class="w-100 bg-white" type="file" v-on:change="getProjectCoverUrl">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.ProjectCoverUrlErrorMsg }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade content" id="pills-content" role="tabpanel"
                                 aria-labelledby="pills-content-tab">

                                <div class="content-item guide">
                                    <div class="guide-item form-description">
                                        <h3 class="text-center">
                                            在這個區塊您將填寫專案的故事和執行方式，文案在專案內容中扮演詳盡說明細節的角色。 專案內容撰寫技巧：提案百科：文案
                                        </h3>
                                    </div>
                                </div>
                                <div class="content-item project-content pb-4">
                                    <div class="project-content-item task-title">
                                        <h3>專案內容(ProjectImgUrl)</h3>
                                    </div>
                                    <div class="project-content-item editor my-custom-editor" id="editor">
                                        <p></p>
                                    </div>
                                    <div class="project-content-item pt-3">
                                        <p>
                                            利用文字、圖片和影片，將您的計畫詳細清楚的述說給大家聽。圖片大小建議寬度 697 px，考慮到手機使用者的網路速度，單張圖片上傳大小不可超過 1
                                            MB，且為求在手機上瀏覽順暢，圖片上若有出現文字，任何文字皆不得小於 16 級。撰寫內容的小技巧：提案百科
                                        </p>
                                    </div>
                                </div>
                                <div class="content-item project-qanda">
                                    <div class="project-qanda-item task-title">
                                        <h3>常見問答(Project_Question & Project_Answer)</h3>
                                    </div>
                                    <div class="QAinput d-flex flex-column" id="QAinput">
                                        <multi-text v-model="ProjectQuestionAnswer">
                                            <multi-text />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade reward" id="pills-reward" role="tabpanel"
                                 aria-labelledby="pills-reward-tab">

                                <div class="reward-item guide">
                                    <div class="guide-item form-description">
                                        <h3 class="text-center">
                                            在這個區塊您將制定本次募資專案提供的回饋項目，回饋內容可以十分多元，但是必須清楚寫明回饋金額、內容說明、運費及寄送時間等必要資訊。回饋設定技巧：提案百科
                                        </h3>
                                    </div>
                                </div>

                                <div class="reward-item project-rewardcard-preview">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 px-0">
                                            <h5 class="text-center">開始制定回饋前你應該知道的事</h5>
                                            <ul class="pl-3">
                                                <li class="pb-sm-2 pb-md-3 pb-lg-4 pb-xl-5">
                                                    我們應該站在贊助者的角度設定回饋項目：
                                                    清楚列出贊助者會得到什麼，需花費的金額、運費，以及完成回饋所需花的時間。若專案性質並非完成一件商品，可考慮另外設計回饋方式（實體或非實體）。請務必考量到回饋的可行性以及所需時間。
                                                </li>
                                                <li class="pb-sm-2 pb-md-4 pb-lg-4 pb-xl-5">
                                                    好的回饋項目可以讓贊助人感受到：
                                                    (1) 參與感 (2) 情感或精神上的回饋 (3) 價格上的優惠 (4) 自己是獨一無二。
                                                </li>
                                                <li>
                                                    好的回饋會讓贊助者在收到回饋項目後很開心，並且分享給更多人。而設計回饋時，除了實體的物品之外，也可以透過舉辦活動或善加利用數位製品，不僅可以降低成本，更可能帶來意想不到的正面效果。
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6">

                                            <div class="template-item left-block h-100">
                                                <div class="left-block-item task-title">
                                                    <h3>回饋卡預覽</h3>
                                                </div>
                                                <div class="left-block-item card px-2 mr-2">
                                                    <div class="card-item discount-amount pb-1 pt-2">
                                                        <p>$回饋方案價錢</p>
                                                    </div>
                                                    <div class="card-item picture">
                                                        <img class="w-100"
                                                             src="https://picsum.photos/280/210/?random=1">
                                                    </div>
                                                    <div class="card-item pt-2 plan-title">
                                                        <p class="card-short-summary">回饋方案標題</p>
                                                    </div>
                                                    <div class="card-item delivery-title d-flex justify-content-between pt-3">
                                                        <div class="delivery-title-item Fundedpeople">
                                                            <p class="small-title">贊助人數</p>
                                                            <p>xxx</p>
                                                        </div>
                                                        <div class="delivery-title-item">
                                                            <p class="small-title">預計寄送時間</p>
                                                            <p>xxxx/xx/xx</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-item delivery-text pt-3 pb-2">
                                                        <div class="delivery-text-item">
                                                            <p class="small-title">寄送地點</p>
                                                            <p>寄送至特定地區</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-result-box" id="card-result-box">
                                    <!-- <div v-if="isShow">請新增您的回饋方案！</div> -->
                                    <div class="project-rewardcard-preview" v-for="(item, index) in modalList"
                                         v-if="index >= 1">
                                        <div v-bind:id="item.ViewId" name="set-plan">
                                            <hr>
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-md-6 d-flex flex-column justify-content-center w-100">
                                                    <div class="set-plan-description w-100">
                                                        <p>回饋方案內容</p>
                                                        <!-- <div class="w-100"> -->
                                                        <div class="w-100">{{ item.PlanDescription }}</div>
                                                        <!-- </div> -->
                                                    </div>
                                                    <br>
                                                    <div class="set-plan-quantity">
                                                        <p>回饋數量限制</p>
                                                        <p>{{ item.QuantityLimit }}</p>
                                                    </div>
                                                    <br>
                                                    <div class="set-plan-addcarcarplan">
                                                        <p>是否加入車車商城</p>
                                                        <p>{{ item.AddCarCarPlanSwitch }}</p>
                                                    </div>
                                                </div>

                                                <div class="col-6 col-sm-6 col-md-6">
                                                    <div class="left-block-item task-title">
                                                        <h3>第{{ item.makePlanCount }}個回饋方案</h3>
                                                    </div>
                                                    <div class="left-block-item card px-2 mr-2">
                                                        <div class="card-item discount-amount pb-1 pt-2">
                                                            <p>{{ item.PlanPrice }}</p>
                                                        </div>
                                                        <div class="card-item picture">
                                                            <img class="w-100" :src="item.PlanImgUrl">
                                                        </div>
                                                        <div class="card-item pt-2 plan-title">
                                                            <p class="card-short-summary">{{ item.PlanTitle }}</p>
                                                        </div>
                                                        <div class="card-item delivery-title d-flex justify-content-between pt-3">
                                                            <div class="delivery-title-item Fundedpeople">
                                                                <p class="small-title">贊助人數</p>
                                                                <p>xxx</p>
                                                            </div>
                                                            <div class="delivery-title-item">
                                                                <p class="small-title">預計寄送時間</p>
                                                                <p>
                                                                    {{ item.PlanShipDateYear }}/{{ item.PlanShipDateMonth }}/xx
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="card-item delivery-text pt-3 pb-2">
                                                            <div class="delivery-text-item">
                                                                <p class="small-title">寄送地點</p>
                                                                <p>寄送至特定地區</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="project-rewardcard-preview-item addnew-rewardcard my-3">
                                    <button id="add-plan-button" class="addnew w-100 py-1" data-toggle="modal"
                                            data-target="#staticBackdrop" v-on:click.prevent="">
                                        + 新增一個回饋
                                    </button>
                                </div>

                            </div>
                            <div class="tab-pane fade contact" id="pills-contact" role="tabpanel"
                                 aria-labelledby="pills-contact-tab">

                                <div class="contact-item guide">
                                    <div class="guide-item form-description">
                                        <h3 class="text-center">
                                            在這個區塊您將撰寫提案者需要提供的個人資料及身份驗證，在填寫提案團隊資訊的同時，您可以增加更多和本次專案相關的資訊連結及粉絲專頁，讓瀏覽者對您有更多的了解。
                                        </h3>
                                    </div>
                                </div>

                                <div class="contact-item project-person-in-charge">
                                    <div class="project-person-in-charge-item task-title">
                                        <h3>提案負責人姓名(+真實姓名欄位)</h3>
                                    </div>
                                    <div class="project-person-in-charge-item">
                                        <input class="w-100 form-control" type="text"
                                               v-model="inputData.ProjectPrincipal"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.ProjectPrincipalError}">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.ProjectPrincipalErrorMsg }}
                                        </div>
                                    </div>
                                    <div class="project-person-in-charge-item">
                                        <p>
                                            此名稱為核實及平台提案資料留存用，請填寫真實姓名。目前 集資車車
                                            只限定台灣用戶提案，國外單位提案必須有台灣分公司或代理人，並且由台灣代理人提交專案。
                                        </p>
                                    </div>

                                </div>
                                <div class="contact-item project-email">
                                    <div class="project-email-item task-title">
                                        <h3>電子郵件(MemberConEmail)</h3>
                                    </div>
                                    <div class="project-email-item">
                                        <input class="flex-grow-1 mb-0 form-control" type="email"
                                               v-model="inputData.MemberConEmail"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.MemberConEmailError}">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.MemberConEmailErrorMsg }}
                                        </div>
                                    </div>
                                    <div class="project-email-item">
                                        <p>
                                            為了確保負責輔導本專案的專案經理可以聯絡到您，請填寫聯絡信箱並完成驗證。
                                            專案提交並審核完成後，我們會將專案修改建議書寄至您所填寫的電子信箱中。
                                        </p>
                                    </div>
                                </div>
                                <div class="contact-item project-phone">
                                    <div class="project-phone-item task-title">
                                        <h3>行動電話(MemberPhone)</h3>
                                    </div>
                                    <div class="project-phone-item">
                                        <input class="flex-grow-1 mb-0 form-control" type="text"
                                               v-model="inputData.MemberPhone"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.MemberPhoneError}">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.MemberPhoneErrorMsg }}
                                        </div>
                                    </div>
                                    <div class="project-phone-item">
                                        <p>為了確保負責輔導本專案的專案經理可以聯絡到您，請填寫行動電話並完成驗證。</p>
                                    </div>
                                </div>
                                <div class="contact-item project-identity">
                                    <div class="project-identity-item task-title">
                                        <h3>提案人身份證字號(+提案人身分證字號欄位)</h3>
                                    </div>
                                    <div class="project-identity-item d-flex justify-content-between">
                                        <input class="w-100 pl-2 form-control" type="text" placeholder="請輸入身分證字號"
                                               v-model="inputData.IdentityNumber"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.IdentityNumberError}">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.IdentityNumberErrorMsg }}
                                        </div>
                                    </div>
                                    <div class="project-identity-item">
                                        <p>
                                            提案者必須是具備完全行為能力的自然人、合法登記的法人或團體。若提案者為未成年人，應由其法定代理人閱讀、暸解，才可進行提案流程。
                                            提案前，應完成註冊程序，並應依本平台當時所訂之方式完成會員認證。
                                        </p>
                                    </div>
                                </div>

                                <div class="contact-item guide">
                                    <div class="guide-item form-description">
                                        <h3 class="text-center">
                                            以下資訊為團隊資訊，將顯示於專案頁面中，並同步更新您的會員資料。
                                        </h3>
                                    </div>
                                </div>

                                <div class="contact-item project-teampicture">
                                    <div class="project-teampicture-item task-title">
                                        <h3>團隊圖片(ProfileImgUrl)</h3>
                                    </div>
                                    <div class="project-teampicture-item">
                                        <input class="w-100 bg-white" type="file" v-on:change="getTeamPicture">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.TeamPictureErrorMsg }}
                                        </div>
                                    </div>
                                    <div class="project-teampicture-item">
                                        <p>此圖片為您目前的會員圖片，建議更新為適合此專案的個人或團隊照片。</p>
                                    </div>
                                </div>
                                <div class="contact-item prject-teamname">
                                    <div class="project-teamname-item task-title">
                                        <h3>顯示名稱(MemberName)</h3>
                                    </div>
                                    <div class="project-teamname-item">
                                        <input class="w-100 form-control" type="text" v-model="inputData.MemberName"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.MemberNameError}">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.MemberNameErrorMsg }}
                                        </div>
                                    </div>
                                    <div class="project-teamname-item">
                                        <p>顯示名稱將會被瀏覽者視為此計畫的執行團隊。此名稱為您目前的會員名稱，建議更新為適合此專案的個人或團隊名稱。</p>
                                    </div>
                                </div>
                                <div class="contact-item project-teamsummary">
                                    <div class="project-teamsummary-item task-title">
                                        <h3>自我介紹(AboutMe)</h3>
                                    </div>
                                    <div class="project-teamsummary-item">
                                        <input class="w-100 form-control" type="text" v-model="inputData.AboutMe"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.AboutMeError}">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.AboutMeErrorMsg }}
                                        </div>
                                    </div>
                                    <div class="project-teamsummary-item">
                                        <p>自我介紹將會被瀏覽者視為此計畫執行團隊的簡介。此區塊為您目前的會員介紹，建議更新為適合此專案的個人或團隊介紹。</p>
                                    </div>
                                </div>

                                <div class="contact-item project-teamwebsite">
                                    <div class="project-teamwebsite-item task-title">
                                        <h3>專案網站(MemberWebsite)</h3>
                                    </div>
                                    <div class="project-teamwebsite-item">
                                        <input class="w-100 form-control" type="url"
                                               v-model="inputData.MemberWebsite"
                                               v-bind:class="{ 'is-invalid': inputDataCheck.MemberWebsiteError}">
                                        <div class="text-danger small mt-1">
                                            {{ inputDataCheck.MemberWebsiteErrorMsg }}
                                        </div>
                                    </div>
                                    <div class="project-teamwebsite-item">
                                        <p>如果有和計畫相關的官方網站，請直接貼上完整網址。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-group d-flex justify-content-center">
                            <input class="preview-button mx-2" type="button" value="預覽專案">
                            <input class="submit-button mx-2" id="submit-button" type="button" value="提交專案"
                                   v-bind:disable="AddVerify == false" v-on:click="submitProposal">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="project-proposal-modal">
        <!-- Modal 方案回饋卡-->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">新增方案回饋</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6">
                                <div class="plan-amount pb-2 pb-lg-4">
                                    <div class="plan-amount-item d-flex justify-content-between align-items-center mb-2">
                                        <p class="small-title">回饋金額(PlanPrice)</p>
                                        <p class="sub-text">最低金額為 $100</p>
                                    </div>
                                    <div class="plan-amount-item">
                                        <input type="number" class="w-100 form-control" min=100
                                               v-model="modalData.PlanPrice"
                                               v-bind:class="{ 'is-invalid': modalDataCheck.PlanPriceError}">
                                        <div class="text-danger small mt-1">
                                            {{ modalDataCheck.PlanPriceErrorMsg }}
                                        </div>
                                    </div>
                                </div>
                                <div class="plan-title pb-2 pb-lg-4">
                                    <div class="plan-title-item mb-2">
                                        <p class="small-title">回饋標題(PlanTitle)</p>
                                    </div>
                                    <div class="plan-title-item">
                                        <input type="text" class="w-100 form-control" v-model="modalData.PlanTitle"
                                               v-bind:class="{ 'is-invalid': modalDataCheck.PlanTitleError}">
                                        <div class="text-danger small mt-1">
                                            {{ modalDataCheck.PlanTitleErrorMsg }}
                                        </div>
                                    </div>
                                </div>
                                <div class="plan-quantitylimit pb-2 pb-lg-4">
                                    <div class="plan-quantitylimit-item d-flex justify-content-between align-items-center mb-2">
                                        <p class="small-title">回饋數量限制(QuantityLimit)</p>
                                        <p class="sub-text">0即為不限量</p>
                                    </div>
                                    <div class="plan-quantitylimit-item">
                                        <input type="number" class="w-100 form-control" min=0
                                               v-model="modalData.QuantityLimit"
                                               v-bind:class="{ 'is-invalid': modalDataCheck.QuantityLimitError}">
                                        <div class="text-danger small mt-1">
                                            {{ modalDataCheck.QuantityLimitErrorMsg }}
                                        </div>
                                    </div>
                                </div>

                                <div class="add-carcarplan">
                                    <div class="add-carcarplan-item mb-2">
                                        <p class="small-title">加入車車商城？</p>
                                    </div>
                                    <div class="add-carcarplan-item d-flex justify-content-evenly align-items-center add-carcarplan-item-box pt-lg-3">
                                        <input type="checkbox" class="mr-3" style="zoom:150%;"
                                               v-model="modalData.AddCarCarPlanSwitch"
                                               v-bind:class="{ 'is-invalid': modalDataCheck.AddCarCarPlanSwitchError}">
                                        <p class="checkbox-p">募資成功後是否在車車商城上架</p>
                                    </div>

                                </div>

                            </div>
                            <div class="col-12 col-sm-6 col-md-6">
                                <div class="plan-img pb-3">
                                    <div class="plan-img-item mb-2">
                                        <p class="small-title">回饋封面(PlanImgUrl)</p>
                                    </div>
                                    <div class="plan-img-item d-flex justify-content-center">
                                        <div class="gray-block ">
                                            <img :src="modalData.PlanImgUrl" alt="planImgUrl" width="250px"
                                                 height="187.5px" class="planPreviewPic" id="planPreviewPic">
                                        </div>
                                    </div>
                                    <div class="plan-img-item py-2">
                                        <p class="plan-img-item-p">
                                            請提供 JPEG、PNG 或 BMP 檔，圖片尺寸至少 1024 x 768
                                            px；並將檔案大小控制在
                                            1MB 以內。
                                        </p>
                                    </div>
                                    <div class="plan-img-item">
                                        <input type="file" v-on:change="getPlanImgUrl" ref="planpicfileupload">
                                        <div class="text-danger small mt-1">
                                            {{ modalDataCheck.PlanImgUrlErrorMsg }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12">
                                <div class="plan-ship-date pb-3">
                                    <div class="plan-ship-date-item d-flex justify-content-between align-items-center mb-2">
                                        <p class="small-title">預計寄送時間(PlanShipDate)</p>
                                        <p class="sub-text">回饋預計送達時程(月份擇一即可)</p>
                                    </div>
                                    <div class="plan-ship-date-item d-flex">
                                        <select id="year" class="w-100" v-model="modalData.PlanShipDateYear"
                                                v-on:change="onChangeYear(this.value)">
                                            <option value="year">年份</option>
                                            <option value="2021" data-year="2021">2021年</option>
                                            <option value="2022" data-year="2022">2022年</option>
                                            <option value="2023" data-year="2022">2023年</option>
                                            <option value="2024" data-year="2022">2024年</option>
                                        </select>
                                        <select id="forward-month" class="w-100"
                                                v-model="modalData.PlanShipDateMonth"
                                                v-on:change="onChangeMonth(this.value)">
                                            <!-- <option v-for="option in modalData.PlanShipDateForwardMonthOptions"
                                                v-bind:value="option.value">
                                                {{ option.text }}
                                            </option> -->
                                            <option value="month">月份</option>
                                            <option value="1" data-month="1">1月</option>
                                            <option value="2" data-month="2">2月</option>
                                            <option value="3" data-month="3">3月</option>
                                            <option value="4" data-month="4">4月</option>
                                            <option value="5" data-month="5">5月</option>
                                            <option value="6" data-month="6">6月</option>
                                            <option value="7" data-month="7">7月</option>
                                            <option value="8" data-month="7">8月</option>
                                            <option value="9" data-month="7">9月</option>
                                            <option value="10" data-month="7">10月</option>
                                            <option value="11" data-month="7">11月</option>
                                            <option value="12" data-month="7">12月</option>
                                        </select>
                                        <!-- <select name="" id="backward-month" class="w-100">
                                            <option v-for="option in modalData.PlanShipDateBackwardMonthOptions"
                                                v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select> -->
                                    </div>
                                    <div class="text-danger small mt-1">
                                    </div>
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="plan-description pb-3">
                                    <div class="plan-description-item mb-2">
                                        <p class="small-title">回饋方案內容(PlanDescription)</p>
                                    </div>
                                    <div class="plan-description-item">
                                        <textarea class="w-100 form-control" v-model="modalData.PlanDescription"
                                                  v-bind:class="{ 'is-invalid': modalDataCheck.PlanDescriptionError}"></textarea>
                                        <!-- <input type="text" class="w-100 form-control"
                                            v-model="modalData.PlanDescription"
                                            v-bind:class="{ 'is-invalid': modalDataCheck.PlanDescriptionError}"> -->
                                        <div class="text-danger small mt-1">
                                            {{ modalDataCheck.PlanDescriptionErrorMsg }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                v-on:click="cancelCleanModal">
                            取消新增
                        </button>
                        <button type="button" class="btn btn-primary" id="store-plan-card"
                                v-on:click="addItem">
                            儲存回饋
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<template type="text/x-template" id="multi-text-template">
    <div class="multi-text">
        <div v-for="(item, index) in ProjectQuestionAnswer" v-if="index >= 1">
            <div class="d-flex justify-content-between py-2">
                <p>第{{ item.Count }}個常見問答</p>
                <a href="#" v-on:click="deleteValue(index)" v-on:click.prevent="" class="text-danger small">移除</a>
            </div>
            <input type="text" v-model="item.Question" v-on:input="updateValue()" class="form-control"
                   placeholder="Q:" />
            <input type="text" v-model="item.Answer" v-on:input="updateValue()" class="form-control" placeholder="A:" />
            <div class="text-danger small mt-1">
                {{ item.QAErrorMsg }}
            </div>
        </div>
        <div class="project-qanda-item pb-5">
            <button v-on:click="addInput()" v-on:click.prevent="" class="w-100 addQAbutton mt-2"
                    id="addQAbutton">
                +增加常見問答
            </button>
        </div>
    </div>
</template>
