@model ProjectTeamFour.ViewModels.MailViewModel



@section topCSS{
    <link href="~/Assets/Css/ForgotPasswordPage/sendmail.css" rel="stylesheet" />
}

@section endJS{
    <script src="~/Assets/Javascript/ForgotPasswordPage/SendMail.js">
    </script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="forgetpassword" id="forgetpassword">
        <section class="forgetpassword-page">

            <div class="container d-flex flex-column">
                <div class="forgetpassword-page-item text-center">
                    <h3>忘記密碼</h3>
                </div>

                <div class="forgetpassword-page-item inputbox">
                    <div class="inputbox-item pb-3">
                        <p class="d-flex justify-content-center welcome text-center">請輸入您的會員信箱<br>我們將會發送驗證信給您</p>
                    </div>
                    <div class="inputbox-item email-input">
                        <input type="email" class="w-100 form-control inputemail" placeholder="信箱" v-model="inputData.Email"
                               v-bind:class="{ 'is-invalid': inputData.EmailError}" id="receiver" name="receiver">
                    </div>
                    <div class="text-danger small mb-1">
                        {{ inputData.EmailErrorMsg }}
                    </div>

                    <div class="inputbox-item">
                        <input type="submit" class="w-100 d-flex justify-content-center send-email" v-on:click="sendToApi" value="- 送出 -">
                    </div>
                    <hr>
                </div>
                <div class="forgetpassword-page-item d-flex justify-content-between changestatus">
                    <a href="/Member/Login" class="d-flex again">
                        <i class="fas fa-angle-double-right pt-1 pr-2"></i>
                        <p>已經是會員？</p>
                    </a>
                    <a href="/OrdinaryQA/Index" class="normal-question">常見問題</a>
                </div>
            </div>
        </section>

    </div>
}

