@media screen and (min-width: 768px) {

    .nav-pills {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .nav-item, button[type="button"] {
        font-size: 1.5rem;
    }

    .person-data-pic {
        margin: 0;
        width: 10rem;
    }

    .banner .wrap .nav {
        flex-wrap: nowrap;
    }


    .case-doing-pic {
        width: 30rem;
    }

    .case-doing-text {
        margin: auto;
    }

        .case-doing-text h4 {
            font-size: 1.5rem;
            line-height: 3rem;
        }

    .button-group {
        width: 15rem;
    }

    .news .col-md-9 {
        margin: auto;
    }
}
