
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const projects = (axios.get("/Api/Projects/GetAll")).data.body.projectList;

    var countSuccessProjects = () => {
        let count = 0;
        //if (v.projectStatus == "集資成功" | v.projectStatus == "結束且成功")
        if (v.projectStatus == "集資中")
        {
            projects.map((v, i) => count++)
            return count;
        }
        document.getElementById("#pending_projects_count").innerHTML(count);
    }


</script>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> 集資車車平台統計
                        </a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                營收概況(月營收)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                總營收(創建至今)
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                專案募資成功比率
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        50%

                                                        @* 這裡做統計喔 *@

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                             aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                募資中專案數量
                                            </div>
                                            <div id="pending_projects_count" class="h5 mb-0 font-weight-bold text-gray-800">

                                                @* 計算總共有幾個募資專案 *@

                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- 訂單銷售統計圖 -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">訂單銷售統計圖</h6>
           
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <div id="orders_line" style="width: 600px;height:400px;"></div>
                                    </div>
                                    <script>

                                        const getOption = async () => {
                                            const getdata = async () => {
                                                let items = (await axios.get("/Api/Orders/GetAll")).data.body.myOrderList;
                                                console.log(items);
                                                //let tmpArray = [];
                                                //items.map((v, i) => tmpArray.push(i));
                                                //let account = [];
                                                //items.map((v, i) => account.push(parseInt(v.orderTotalAccount)));
                                                let OrderDate = [];
                                                let OrderAccount = [];
                                                function ChangeDatetoNum(e) {
                                                    return e.split('/').reduce((pre, now) => {
                                                        return now.length < 2 ? pre + '0' + now : pre + now
                                                    }, "")
                                                }

                                                const compare = (a, b) => {
                                                    if (ChangeDatetoNum(a.orderDate) > ChangeDatetoNum(b.orderDate))
                                                        return 1;
                                                    else 
                                                        return -1;
                                                }
                                                items.sort(compare);
                                                items.forEach(e => OrderDate.push(e.orderDate));
                                                items.forEach(e => OrderAccount.push(e.orderTotalAccount));
                                                return { x: OrderDate, y: OrderAccount }
                                            }
                                            let tmp = await getdata();
                                            var option = {
                                                title: {
                                                    text: '訂單銷售統計圖'
                                                },
                                                //legend: {
                                                //data: ['金額']
                                                //},
                                                xAxis: {
                                                    data: tmp.x
                                                    //data:months
                                                },
                                                yAxis: {
                                                    type: 'value'
                                                },
                                                series: [{
                                                    name: '金額',
                                                    type: 'line',
                                                    stack: '总量',
                                                    data: tmp.y,
                                                    //realtimeSort: true,
                                                }]
                                            };
                                            return option;
                                        }

                                        getOption().then(option => {
                                            console.log(option);
                                            var moneyChart = echarts.init(document.getElementById('orders_line'));
                                            moneyChart.setOption(option);
                                        })

                                    </script>
                                </div>
                            </div>
                        </div>

                        <!-- 平台專案募資狀態圓餅圖 -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">專案募資狀態統計</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie">
                                        <div id="projectStatus_pie" style="width: 400px;height:300px;"></div>
                                    </div>
                                    
                                    <script>
                                        const getOption_pie1 = async () => {
                                            const getdata = async () => {
                                                let items = (await axios.get("/Api/Projects/GetAll")).data.body.projectList;

                                                let count = [0, 0, 0, 0, 0, 0];
                                                const json = {
                                                    "集資中": 0,
                                                    "集資成功": 1,
                                                    "集資失敗": 2,
                                                    "審核中": 3,
                                                    "結束且成功": 4,
                                                    "結束且失敗": 5
                                                }
                                                items.map((v, i) => count[json[v.projectStatus]]++);
                                                return { x: ["集資中", "集資成功", "集資失敗", "審核中", "結束且成功", "結束且失敗"], y: count }
                                            }
                                            let tmp = await getdata();

                                            var option = {
                                                title: {
                                                    text: '募資狀態統計圖',
                                                    show: false
                                                },
                                                tooltip: {
                                                    trigger: 'item',     //觸發類型（座標軸觸發）
                                                },
                                                legend: {
                                                    top: '5%',
                                                    left: 'center',                                               
                                                },

                                                series: [{
                                                    name: '募資狀態',
                                                    radius: ['40%', '70%'],
                                                    avoidLabelOverlap: false,
                                                    type: 'pie',
                                                    data: tmp.y,
                                                    label: {
                                                        show: false,
                                                        position: 'center'
                                                    },
                                                    labelLine: {
                                                        show: false
                                                    },
                                                    emphasis: {
                                                        label: {
                                                            show: true,
                                                            fontSize: '40',
                                                            fontWeight: 'bold'
                                                        }
                                                    },
                                                }]
                                            };
                                            return option;
                                        }
                                        getOption_pie1().then(option => {
                                            console.log(option);
                                            var myChart = echarts.init(document.getElementById('projectStatus_pie'));
                                            myChart.setOption(option);
                                        })

                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--提案分類統計柱狀圖-->
                    <div class="row">
                        <div class="col-lg-6 col-mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="font-weight-bold text-primary">提案分類統計圖</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <div id="category_bar" style="width: 550px;height:350px;"></div>
                                    </div>
                                    
                                    <script>
                                        const getOption_bar1 = async () => {
                                            const getdata = async () => {
                                                let items = (await axios.get("/Api/Projects/GetAll")).data.body.projectList;

                                                let account = [0, 0, 0, 0, 0, 0];
                                                const json = {
                                                    "科技設計": 0,
                                                    "藝術影視": 1,
                                                    "音樂": 2,
                                                    "生活": 3,
                                                    "公共在地": 4,
                                                    "遊戲出版": 5
                                                }
                                                items.map((v, i) => account[json[v.category]]++);
                                                return { x: ["科技設計", "藝術影視", "音樂", "生活", "公共在地", "遊戲出版"], y: account }
                                            }
                                            let tmp = await getdata();

                                            var option = {
                                                title: {
                                                    text: '提案分類統計圖'
                                                },
                                                tooltip: {
                                                    trigger: 'axis',     //觸發類型（座標軸觸發）
                                                },
                                                legend: {
                                                    data: ['category']
                                                },
                                                xAxis: [{
                                                    data: tmp.x
                                                }],
                                                yAxis: {
                                                    type: 'value'
                                                },
                                                series: [{
                                                    name: '提案分類',
                                                    type: 'bar',
                                                    data: tmp.y

                                                }]
                                            };
                                            return option;
                                        }

                                        getOption_bar1().then(option => {
                                            console.log(option);
                                            var myChart = echarts.init(document.getElementById('category_bar'));
                                            myChart.setOption(option);
                                        })

                                    </script>
                                </div>
                            </div>
                        </div>

                    @*</div>*@

                    <!-- Content Row -->
                    <!--<div class="row">-->

                        <!-- Content Column -->
                        <!--<div class="col-lg-6 mb-4">-->

                            <!-- Project Card Example -->
                            <!--<div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">各分類專案統計</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">
                                        Server Migration <span class="float-right">20%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">
                                        Sales Tracking <span class="float-right">40%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">
                                        Customer Database <span class="float-right">60%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 60%"
                                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">
                                        Payout Details <span class="float-right">80%</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">
                                        Account Setup <span class="float-right">Complete!</span>
                                    </h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>-->
                        @*</div>*@

                        <div class="col-lg-6 mb-4">

                            <!-- 熱門募資排行榜柱狀圖 -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">熱門募資排行榜</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <div id="orders_popular" style="width: 600px;height:400px;"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Approach -->
                            <!--<div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">.......</h6>
                                </div>
                                <div class="card-body">

                                </div>
                            </div>-->

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <script>
        const getOption_MostPopular = async () => {
            const getdata = async () => {
                let items = (await axios.get("/Api/Projects/GetAll")).data.body.projectList;

                let ProjectName = [];
                let ProjectFundingAmount = [];

                const compare = (a, b) => {
                    if (a.fundingAmount > b.fundingAmount)
                        return -1;
                    else if (a.fundingAmount < b.fundingAmount)
                        return 1;
                    return 0;
                }
                items.sort(compare);

                items.forEach(e => ProjectName.push(e.projectName));
                items.forEach(e => ProjectFundingAmount.push(e.fundingAmount));
                return { x: ProjectName, y: ProjectFundingAmount }
            }
            let tmp = await getdata();
            var option = {
                title: {
                    text: '訂單銷售統計圖'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'line'     //指示器類型（直線指示器）
                    }
                },
                legend: {
                data: '銷售金額'
                },
                transform: {
                    type: 'sort',
                    config: { dimension: 'ProjectFundingAmount', order: 'desc' }
                },
                xAxis: {
                    data: tmp.x,
                    //data:months
                    max:5
                },
                yAxis: {
                    type: 'value',
                    //max:5
                },
                series: [{
                    name: '金額',
                    type: 'bar',
                    data: tmp.y
                }]
            };
            return option;
        }

        getOption_MostPopular().then(option => {
            console.log(option);
            var myChart = echarts.init(document.getElementById('orders_popular'));
            myChart.setOption(option);
        })
    </script>

</body>