/*html {
    background-color: #f7f7f7;
}*/

.project-proposal {
    background-color: #f7f7f7;
}

    /* 四個選項調整 */

    .project-proposal .nav-link {
        padding: .5rem .8rem;
    }

    .project-proposal .nav-item a {
        color: #aaa;
        font-size: 0.75rem;
    }

    .project-proposal .nav-pills .nav-link.active,
    .project-proposal .nav-pills .show > .nav-link {
        color: #000;
        background-color: transparent;
        border-bottom: 0.3rem solid #f9414a;
    }

    /* 共用 */
    .project-proposal .form-description {
        padding-bottom: 1rem;
    }

        .project-proposal .form-description h3 {
            font-size: 0.7rem;
        }

    /* 手機版縮 padding */
    .project-proposal .tab-pane {
        padding: 0 1.2rem;
    }

    /* 所有task紅線 */
    .project-proposal .task-title {
        border-left: 0.2rem solid #f9414a;
        padding-left: 0.4rem;
    }

        .project-proposal .task-title h3 {
            font-size: 0.5rem;
        }

    .project-proposal input {
        border-radius: 8px;
        border: 0.1rem solid rgb(236, 235, 235);
        font-size: 0.7rem;
    }

    .project-proposal button {
        border: 1px solid rgb(133, 133, 133);
        background-color: #f7f7f7;
    }

    .project-proposal p {
        font-size: 0.5rem;
        margin-bottom: 0;
    }

    /* 第一頁 */

    .project-proposal .card-template {
        border: 1px solid rgb(236, 235, 235);
    }

        .project-proposal .card-template .progress-number {
            font-size: 8px;
            padding: 0 0.3rem;
        }

.make-line {
    border-right: 0.3rem solid rgb(159, 224, 146);
}

.project-proposal .form-control {
    height: auto;
}

.project-proposal .project-mixedbox p {
    font-size: 10px;
}

/* 第一頁共用 */

.project-proposal .outline-item {
    padding-bottom: 1rem;
}

    .project-proposal .outline-item p {
        padding-top: 0.5rem;
    }

/* 第二頁no */


/* 第三頁 */

.project-proposal .reward h5 {
    font-size: 1rem;
}

.project-proposal .reward li {
    font-size: 0.7rem;
}

.project-proposal .project-rewardlist button {
    padding: 0.4rem;
}

.project-proposal .right-block-item .nav {
    font-size: 0.5rem;
}

.project-proposal .right-block-item .edition-option-item {
    font-size: 0.45rem;
}

.project-proposal .template .row {
    border: 0.1rem dotted #000;
}

.project-proposal .project-rewardcard-preview p {
    font-size: 10px;
}

.project-proposal .right-block-item .tab-content {
    height: 4rem;
}

.project-proposal .project-rewardcard-preview .card-short-summary {
    font-size: 8px;
}

.project-proposal .fa-list {
    line-height: 1.5;
}

/* 第三頁共用 */

.project-proposal .reward button {
    border-radius: 5px;
    font-size: 8px;
}

/* 第四頁 */

/* 第四頁共用 */
.project-proposal .contact button {
    font-size: 0.7rem;
}

.project-proposal .contact-item {
    padding-bottom: 1rem;
}

    .project-proposal .contact-item p {
        padding-top: 0.5rem;
    }


@media screen and (max-width: 575px) {
    .project-proposal .project-mixedbox p {
        font-size: 7.5px;
    }

    .project-proposal .project-summary-item input {
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    /* 四個選項調整 */

    .project-proposal .nav-link {
        padding: .7rem 2.5rem;
    }

    .project-proposal .nav-item a {
        color: #aaa;
        font-size: 0.8rem;
    }

    .project-proposal .project-summary-item input {
        padding-bottom: 6rem;
    }
}



@media screen and (min-width: 768px) {


    /* 四個選項調整 */

    .project-proposal .nav-link {
        padding: .7rem 3rem;
    }

    .project-proposal .nav-item a {
        color: #aaa;
        font-size: 1rem;
    }


    /* 縮 padding */
    .project-proposal .tab-pane {
        padding: 0 7rem;
    }

    /* 共用 */
    .project-proposal .form-description {
        padding-bottom: 1.2rem;
    }

        .project-proposal .form-description h3 {
            font-size: 0.9rem;
        }

    /* 所有task紅線 */
    .project-proposal .task-title {
        /* border-left: 0.2rem solid #f9414a;
                padding-left: 0.4rem; */
    }

        .project-proposal .task-title h3 {
            font-size: 0.7rem;
        }

    .project-proposal input {
        font-size: 0.9rem;
    }

    .project-proposal p {
        font-size: 0.8rem;
    }

    /* 第一頁 */

    .project-proposal .card-template .progress-number {
        font-size: 10px;
        padding: 0 0.5rem;
    }

    .make-line {
        border-right: 0.4rem solid rgb(159, 224, 146);
    }

    .project-proposal .project-mixedbox p {
        font-size: 12px;
    }

    .project-proposal .project-summary-item input {
        padding-bottom: 6.5rem;
    }

    /* 第一頁共用 */

    .project-proposal .outline-item {
        padding-bottom: 1.4rem;
    }

        .project-proposal .outline-item p {
            padding-top: 0.8rem;
        }


    /* 第三頁 */

    .project-proposal .reward h5 {
        font-size: 1.1rem;
    }

    .project-proposal .reward li {
        font-size: 0.7rem;
    }

    .project-proposal .project-rewardlist button {
        padding: 0.6rem;
    }

    .project-proposal .right-block-item .nav {
        font-size: 0.7rem;
    }

    .project-proposal .right-block-item .edition-option-item {
        font-size: 0.65rem;
    }

    .project-proposal .project-rewardcard-preview p {
        font-size: 12px;
    }

    .project-proposal .right-block-item .tab-content {
        height: 6rem;
    }

    .project-proposal .project-rewardcard-preview .card-short-summary {
        font-size: 10px;
    }

    .project-proposal .fa-list {
        line-height: 2;
    }

    /* 第三頁共用 */

    .project-proposal .reward button {
        font-size: 10px;
    }


    /* 第四頁 */

    /* 第四頁共用 */
    .project-proposal .contact button {
        font-size: 0.9rem;
    }

    .project-proposal .contact-item {
        padding-bottom: 1.2rem;
    }

        .project-proposal .contact-item p {
            padding-top: 0.7rem;
        }
}


@media screen and (min-width: 992px) {

    /* 四個選項調整 */

    .project-proposal .nav-link {
        padding: .7rem 3.3rem;
    }

    .project-proposal .nav-item a {
        color: #aaa;
        font-size: 1.2rem;
    }


    /* 縮 padding */
    .project-proposal .tab-pane {
        padding: 0 11rem;
    }

    /* 共用 */
    .project-proposal .form-description {
        padding-bottom: 1.4rem;
    }

        .project-proposal .form-description h3 {
            font-size: 0.9rem;
        }

    /* 所有task紅線 */
    .project-proposal .task-title {
        /* border-left: 0.2rem solid #f9414a;
                padding-left: 0.4rem; */
    }

        .project-proposal .task-title h3 {
            font-size: 0.9rem;
        }

    .project-proposal input {
        font-size: 1.1rem;
    }

    .project-proposal p {
        font-size: 1rem;
    }

    /* 第一頁 */

    .project-proposal .card-template .progress-number {
        font-size: 13px;
        padding: 0 0.6rem;
    }

    .make-line {
        border-right: 0.5rem solid rgb(159, 224, 146);
    }

    .project-proposal .project-mixedbox p {
        font-size: 14px;
    }

    .project-proposal .project-summary-item input {
        padding-bottom: 9.3rem;
    }

    /* 第一頁共用 */

    .project-proposal .outline-item {
        padding-bottom: 1.9rem;
    }

        .project-proposal .outline-item p {
            padding-top: 1.2rem;
        }


    /* 第三頁 */

    .project-proposal .reward h5 {
        font-size: 1.3rem;
    }

    .project-proposal .reward li {
        font-size: 0.9rem;
    }

    .project-proposal .project-rewardlist button {
        padding: 0.8rem;
    }

    .project-proposal .right-block-item .nav {
        font-size: 0.9rem;
    }

    .project-proposal .right-block-item .edition-option-item {
        font-size: 0.85rem;
    }

    .project-proposal .project-rewardcard-preview p {
        font-size: 15px;
    }

    .project-proposal .right-block-item .tab-content {
        height: 8rem;
    }

    .project-proposal .project-rewardcard-preview .card-short-summary {
        font-size: 13px;
    }

    .project-proposal .fa-list {
        line-height: 2.5;
    }

    /* 第三頁共用 */

    .project-proposal .reward button {
        font-size: 13px;
    }


    /* 第四頁 */

    /* 第四頁共用 */
    .project-proposal .contact button {
        font-size: 1.1rem;
    }

    .project-proposal .contact-item {
        padding-bottom: 1.6rem;
    }

        .project-proposal .contact-item p {
            padding-top: 1.1rem;
        }
}

@media screen and (min-width: 1200px) {

    /* 四個選項調整 */

    .project-proposal .nav-link {
        padding: .7rem 4.5rem;
    }

    .project-proposal .nav-item a {
        color: #aaa;
        font-size: 1.2rem;
    }

    .project-proposal .project-mixedbox p {
        font-size: 17px;
    }

    .project-proposal .project-summary-item input {
        padding-bottom: 12rem;
    }
}
