/* 種類 */

.project-categories {
    padding-top: 3rem;
    margin-bottom: 5rem;
}

    .project-categories .project-categories-box {
        border-bottom: 1px solid #aaa;
    }

    .project-categories .pic {
        border-radius: 50%;
    }

        .project-categories .pic i {
            font-size: 2rem;
            color: rgb(65, 63, 63);
            padding: 0.5rem 0 1rem 0;
            transition: .3s;
        }

    .project-categories .text h4 {
        font-size: 0.8rem;
        color: rgb(65, 63, 63);
        font-weight: 600;
        text-align: center;
        transition: .3s;
    }

    .project-categories .project-categories-box a {
        text-decoration: none;
        outline: none;
    }

    .project-categories .project-categories-box:hover i {
        color: #f9414a;
    }

    .project-categories .project-categories-box:hover h4 {
        color: #f9414a;
    }





/* 商城專案 */

.indemand-project {
    padding-top: 3rem;
}

    .indemand-project .cardtemplate-section-item {
        padding: 0 0.1rem;
    }

        .indemand-project .cardtemplate-section-item a {
            color: #000;
            text-decoration: none;
        }

        .indemand-project .cardtemplate-section-item .project-name {
            height: 5rem;
        }

    .indemand-project .title-bar {
        padding-bottom: 1.5rem;
        letter-spacing: 0.1rem;
    }

    .indemand-project .title h2 {
        font-size: 1.25rem;
        border-left: 0.5rem solid #f9414a;
        padding-left: 0.5rem;
        font-weight: 700;
    }

    .indemand-project .see-more a {
        text-decoration: none;
        color: #f9414a;
        font-weight: 800;
    }

        .indemand-project .see-more a:hover {
            color: #000;
        }

    .indemand-project .phone-see-more a {
        text-decoration: none;
        color: #f9414a;
        font-weight: 800;
    }

        .indemand-project .phone-see-more a:hover {
            color: #000;
        }

    .indemand-project .percent {
        padding-left: 0.5rem;
    }

    .indemand-project .cardtemplate {
        margin-bottom: 3rem;
        outline: none;
    }


    .indemand-project .cardtemplate-item p {
        margin-bottom: 0;
    }

    .indemand-project .tag-item {
        background-color: #f7f7f7;
        padding: 0.4rem 0.6rem;
        margin: 0.6rem 0;
        letter-spacing: 0.1rem;
    }

        .indemand-project .tag-item p {
            font-size: 0.8rem;
        }

    .indemand-project .status p {
        color: #f9414a;
        font-weight: 700;
    }

    .indemand-project .status {
        margin-left: 0.8rem;
    }

    .indemand-project .project-name h3 {
        font-size: 0.7rem;
        letter-spacing: 0.05rem;
        margin-bottom: 0;
        line-height: 1.55rem;
        font-weight: 700;
    }

    .indemand-project .project-team {
        padding-bottom: 2rem;
        letter-spacing: 0.1rem;
    }

        .indemand-project .project-team p {
            color: rgb(128, 127, 127);
            font-size: 0.7rem;
        }

    .indemand-project .project-progressbar-item {
        background-color: #f9414a;
        height: 0.2rem;
    }

    .indemand-project .project-amount {
        padding-top: 1rem;
        letter-spacing: 0.1rem;
    }

        .indemand-project .project-amount .amount p {
            font-size: 0.64rem;
            font-weight: 700;
            background-color: rgb(247, 228, 219);
            padding: 0 3px;
            border-radius: 5px;
        }

    .indemand-project .project-name:hover {
        color: #f9414a;
    }

    .indemand-project .cardtemplate:hover img {
        transform: scale(1.1);
    }

    .indemand-project .project-picture {
        overflow: hidden;
    }

        .indemand-project .project-picture img {
            transition: .4s;
/*            width: 301px;
            height: 225.97px;*/
        }


    /* 加上 projectname 和 button */



    .indemand-project .cardtemplate .project-amount .add-to-cart button i {
        margin-top: 2.5px;
    }



    .indemand-project .cardtemplate .project-amount .add-to-cart button {
        border: none;
        background-color: #f1c2b4;
        font-size: 0.64rem;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 1rem;
        padding: 0 5px 0 7px;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-align: center;
        border-radius: 5px;
        transition: .3s;
    }


        .indemand-project .cardtemplate .project-amount .add-to-cart button:hover {
            background-color: #f9414a;
        }


    .indemand-project .cardtemplate .plan-title {
        height: 3rem;
    }


        .indemand-project .cardtemplate .plan-title h3 {
            font-size: 0.65rem;
            color: rgb(49, 48, 48);
        }

    .indemand-project .cardtemplate .project-name h4 {
        font-size: 0.75rem;
    }

    .indemand-project .cardtemplate a {
        outline: none;
    }




@media screen and (min-width: 768px) {
    .indemand-project .see-more a {
        display: block;
    }

    .indemand-project .phone-see-more a {
        display: none;
    }

    .indemand-project .title h2 {
        font-size: 1.45rem;
        letter-spacing: 0.2rem;
    }

    .indemand-project .tag-item p {
        font-size: 0.9rem;
    }

    .indemand-project .project-amount .amount p {
        font-size: 0.85rem;
    }

    .indemand-project .cardtemplate .project-amount .add-to-cart button i {
        font-size: 1rem;
        margin-top: 2px;
    }

    .indemand-project .cardtemplate .project-amount .add-to-cart button p {
        font-size: 0.85rem;
    }

    .indemand-project .cardtemplate .project-picture {
        height: 180px;
    }
/*
    .indemand-project .cardtemplate .plan-title {
        height: 6rem;
    }*/

        .indemand-project .cardtemplate .plan-title h3 {
            font-size: 0.85rem;
        }

    .indemand-project .cardtemplate .project-name h4 {
        font-size: 0.95rem;
    }
}


/* 搜尋 */
.indemand-project .carcar-search .text-input {
    outline: none;
    border: 1px solid #dddbdb;
    border: none;
    border-bottom: 1px solid #dddbdb;
    width: 80px;
}

.indemand-project .carcar-search .button-input {
    outline: none;
    border: none;
    background-color: transparent;
    height: 5px;
}

    .indemand-project .carcar-search .button-input i {
        padding-top: 12px;
    }

.indemand-project .carcar-search .text-input:hover {
    border-bottom: 1px solid #f0414a;
}

.indemand-project .carcar-search .button-input:hover {
    color: #f0414a;
}


.indemand-project .carcar-search .text-input::placeholder {
    font-size: 0.5rem;
    color: #d1cfcf;
}


