@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section topCSS{
    <style>
        table.b-table[aria-busy='true'] {
            opacity: 0.6;
        }
    </style>

}

<div id="member" class="col-12 m-auto">
    <template>
        <b-container fluid>
            <!-- User Interface controls -->
            <b-row>
                @*分類模板*@
                <b-col lg="6" class="my-1">
                    <b-form-group label="分類"
                                  label-for="sort-by-select"
                                  label-cols-sm="3"
                                  label-align-sm="right"
                                  label-size="sm"
                                  class="mb-0"
                                  v-slot="{ ariaDescribedby }">
                        <b-input-group size="sm">
                            <b-form-select id="sort-by-select"
                                           v-model="sortBy"
                                           :options="sortOptions"
                                           :aria-describedby="ariaDescribedby"
                                           class="w-75">
                                <template #first>
                                    <option value="">-- none --</option>
                                </template>
                            </b-form-select>

                            <b-form-select v-model="sortDesc"
                                           :disabled="!sortBy"
                                           :aria-describedby="ariaDescribedby"
                                           size="sm"
                                           class="w-25">
                                <option :value="false">升序</option>
                                <option :value="true">降序</option>
                            </b-form-select>
                        </b-input-group>
                    </b-form-group>
                </b-col>
                @*初始分類模板*@
                <b-col lg="6" class="my-1">
                    <b-form-group label="初始分類"
                                  label-for="initial-sort-select"
                                  label-cols-sm="3"
                                  label-align-sm="right"
                                  label-size="sm"
                                  class="mb-0">
                        <b-form-select id="initial-sort-select"
                                       v-model="sortDirection"
                                       :options="['asc', 'desc', 'last']"
                                       size="sm"></b-form-select>
                    </b-form-group>
                </b-col>
                @*搜索模板*@
                <b-col lg="6" class="my-1">
                    <b-form-group label="搜尋"
                                  label-for="filter-input"
                                  label-cols-sm="3"
                                  label-align-sm="right"
                                  label-size="sm"
                                  class="mb-0">
                        <b-input-group size="sm">
                            <b-form-input id="filter-input"
                                          v-model="filter"
                                          type="search"
                                          placeholder="請輸入關鍵字"></b-form-input>

                            <b-input-group-append>
                                <b-button :disabled="!filter" @@click="filter = ''">清空</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-col>
                @*過濾條件模板*@
                <b-col lg="6" class="my-1">
                    <b-form-group v-model="sortDirection"
                                  label="過濾條件"
                                  label-cols-sm="3"
                                  label-align-sm="right"
                                  label-size="sm"
                                  class="mb-0"
                                  v-slot="{ ariaDescribedby }">
                        <b-form-checkbox-group v-model="filterOn"
                                               :aria-describedby="ariaDescribedby"
                                               class="mt-1">
                            <b-form-checkbox value="memberName">會員名稱</b-form-checkbox>
                            <b-form-checkbox value="memberPhone">會員電話</b-form-checkbox>
                            <b-form-checkbox value="memberRegEmail">會員註冊信箱</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>
                </b-col>
                @*顯示頁數模板*@
                <b-col sm="5" md="6" class="my-1">
                    <b-form-group label="每頁顯示筆數"
                                  label-for="per-page-select"
                                  label-cols-sm="6"
                                  label-cols-md="4"
                                  label-cols-lg="3"
                                  label-align-sm="right"
                                  label-size="sm"
                                  class="mb-0">
                        <b-form-select id="per-page-select"
                                       v-model="perPage"
                                       :options="pageOptions"
                                       size="sm"></b-form-select>
                    </b-form-group>
                </b-col>
                @*頁數模板*@
                <b-col sm="7" md="6" class="my-1">
                    <b-pagination v-model="currentPage"
                                  :total-rows="totalRows"
                                  :per-page="perPage"
                                  align="fill"
                                  size="sm"
                                  class="my-0"></b-pagination>
                </b-col>
            </b-row>

            <!-- Main table element -->
            @*主要操作的資料結構*@
            <b-table :items="items"
                     :fields="fields"
                     :current-page="currentPage"
                     :per-page="perPage"
                     :filter="filter"
                     :filter-included-fields="filterOn"
                     :sort-by.sync="sortBy"
                     :sort-desc.sync="sortDesc"
                     :sort-direction="sortDirection"
                     :busy="isBusy"
                     stacked="md"
                     show-empty
                     small
                     @@filtered="onFiltered">
                <template #cell(name)="row">
                    {{ row.value.first }} {{ row.value.last }}
                </template>

                <template #cell(actions)="row">
                    <b-button size="sm" @@click="info(row.item, row.index, $event.target)" class="mr-1">
                        關於
                    </b-button>
                    <b-button size="sm" @@click="row.toggleDetails" variant="info">
                        {{ row.detailsShowing ? '收起' : '更多' }}
                    </b-button>
                    <b-button size="sm" @@click="sendEmailInfo(row.item, row.index, $event.target)" class="mr-1" variant="success">
                        寄信
                    </b-button>
                </template>

                <template #row-details="row">
                    <b-card>
                        <ul v-for="">
                            <li>編號 : {{ row.item.memberId }}</li>
                            <li>會員名稱 : {{ row.item.memberName}}</li>
                            <li>會員團隊名稱 : {{ row.item.memberTeamName }}</li>
                            <li>會員地址 : {{ row.item.memberAddress }}</li>
                            <li>會員電話 : {{ row.item.memberPhone }}</li>
                            <li>會員註冊信箱 : {{ row.item.memberRegEmail }}</li>
                            <li>會員聯絡信箱 : {{ row.item.memberConEmail }}</li>
                            <li>會員性別 : {{ row.item.gender }}</li>
                            <li>會員生日 : {{ row.item.memberBirth }}</li>
                            <li>關於會員 : {{ row.item.aboutMe }}</li>
                            <li>會員圖像連結 : {{ row.item.profileImgUrl }}</li>
                            <li>會員網站連結 : {{ row.item.memberWebsite }}</li>


                        </ul>
                    </b-card>
                </template>
                <template #cell(profileImgUrl)="data">
                    <img :src="data.item.profileImgUrl" alt="" width="50" height="50">
                    
                </template>
                <template #table-busy>
                    <div class="text-center text-danger my-2">
                        <b-spinner class="align-middle"></b-spinner>
                        <strong>Loading...</strong>
                    </div>
                </template>
            </b-table>

            <!-- Info modal -->
            @*關於modal的資料結構*@
            <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @@hide="resetInfoModal">
                <pre style="font-size:18px">{{ infoModal.content }}</pre>
            </b-modal>
            <!-- emailInfoModal寄信樣板的資料結構 -->
            <b-modal :id="emailInfoModal.id" :title="emailInfoModal.title" ok-title="寄信" @@ok="handleEmailOk" cancel-title="取消" @@show="resetEmailInfoModal" @@hide="resetEmailInfoModal">

                <b-card-text>收件信箱:{{emailInfoModal.emailReceiver}}</b-card-text>
                <form ref="form" submit.stop.prevent="emailSubmit" class="edit-form">
                    <b-form-group label="信件標題"
                                  label-for="emailInfoModal.emailTitle-input"
                                  invalid-feedback="此為必填選項"
                                  :state="emailInfoModalemailTitleState">
                        <b-form-input id="emailInfoModal.emailTitle-input"
                                      :state="emailInfoModalemailTitleState"
                                      v-model="emailInfoModal.emailTitle" placeholder="請輸入標題" required></b-form-input>
                    </b-form-group>
                    <b-form-group label="信件內容"
                                  label-for="emailInfoModal.emailBody-input"
                                  invalid-feedback="此為必填選項"
                                  :state="emailInfoModalemailBodyState">
                        <b-form-textarea id="emailInfoModal.emailBody-input"
                                         v-model="emailInfoModal.emailBody"
                                         placeholder="請輸入內容"
                                         rows="3"
                                         :state="emailInfoModalemailBodyState"
                                         max-rows="6" required></b-form-textarea>
                    </b-form-group>
                </form>
            </b-modal>
        </b-container>
    </template>
</div>
@section endJS{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

    

    <script>

        const member = new Vue({

            /*主要監聽對象(作用範圍)*/
            el: "#member",
            data: {
                /*主要接收API資料的儲存欄位*/
                items: [],
                /*設定Bootstrap-Vue Component DataTable 的欄位以及對應物件的Key*/
                fields: [
                    { key: 'memberId', label: '編號', sortable: true, sortDirection: 'desc' },
                    { key: 'profileImgUrl', label: '會員頭像', class: 'text-center' },
                    { key: 'memberName', label: '會員名稱', class: 'text-center' },
                    { key: 'memberBirth', label: '會員生日', class: 'text-center', sortable: true, sortDirection: 'desc' },
                    { key: 'memberPhone', label: '會員電話', class: 'text-center' },
                    { key: 'memberRegEmail', label: '會員註冊信箱', class: 'text-center' },
                    { key: 'actions', label: '詳細資料' }
                ],
                /*Bootstrap-Vue Tables 提供模板*/
                isError: false,
                isBusy: true,
                totalRows: 1,
                currentPage: 1,
                perPage: 20,
                pageOptions: [5, 10, 20, { value: 100, text: "100" }],
                sortBy: '',
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                filterOn: [],
                /*儲存更多會員資料的變數*/
                infoModal: {
                    id: 'info-modal',
                    title: '',
                    content: ''
                },

                /*儲存寄件資料的變數*/
                emailInfoModal: {
                    id: 'emailInfo-modal',
                    title: '',
                    memberId: '',
                    emailReceiver: '',
                    emailTitle: '',
                    emailBody: '',
                },
                /*寄件輸入欄位的基本判斷*/
                emailInfoModalemailTitleState: null,
                emailInfoModalemailBodyState: null,
                /*寄件資料AJAX發送的儲存物件*/
                sendEmail: { memberId: "", memberRegEmail: "", mailTitle: "", mailBody: "" }
            },
            /*呼叫GetAll API後將資料存在items*/
            created: function () {
              

                axios.get("/Api/Members/GetAll")

                    .then((res) => {
                        this.checkImg(res.data.body.memberList);
                        this.items = res.data.body.memberList;
                        this.mounted();
                        this.isBusy = false;
                    });
            },
            computed: {
               
                sortOptions() {
                    // Create an options list from our fields
                    return this.fields
                        .filter(f => f.sortable)
                        .map(f => {
                            return { text: f.label, value: f.key }
                        })
                }
            },
            mounted() {
                // Set the initial number of items
                this.totalRows = this.items.length
            },
            methods: {
                /*infoModal更多會員資料功能之資料結構*/
                info(item, index, button) {
                    this.infoModal.title = `會員編號: ${JSON.stringify(item.memberId, null, 2)}`
                    this.infoModal.content = `會員編號:${JSON.stringify(item.memberId, null, 2)}\n\n會員姓名:${JSON.stringify(item.memberName, null, 2)}\n\n會員地址:${JSON.stringify(item.memberAddress, null, 2)}\n\n會員手機:${JSON.stringify(item.memberPhone, null, 2)}\n\n會員註冊信箱:${JSON.stringify(item.memberRegEmail, null, 2)}\n\n會員聯絡信箱:${JSON.stringify(item.memberConEmail, null, 2)}\n\n會員性別:${JSON.stringify(item.gender, null, 2)}\n\n會員生日:${JSON.stringify(item.memberBirth, null, 2)}\n\n關於會員:${JSON.stringify(item.aboutMe, null, 2)}\n\n會員圖像連結:${JSON.stringify(item.profileImgUrl, null, 2)}\n\n會員網站連結:${JSON.stringify(item.memberWebsite, null, 2)}`
                    this.$root.$emit('bv::show::modal', this.infoModal.id, button)
                },
                /*emailInfoModal寄信樣板的資料結構*/
                sendEmailInfo(item, index, button) {
                    this.emailInfoModal.title = `寄信給會員編號: ${JSON.stringify(item.memberId, null, 2)}`
                    this.emailInfoModal.emailReceiver = item.memberRegEmail
                    this.emailInfoModal.memberId = item.memberId
                    this.$root.$emit('bv::show::modal', this.emailInfoModal.id, button)
                },

                handleEmailOk(bvModalEvt) {
                    // Prevent modal from closing
                    bvModalEvt.preventDefault()
                    // Trigger submit handler
                    this.emailSubmit()
                },
                /*監看寄信輸入欄位是否符合規定*/
                checkFormValidity() {
                    const valid = this.$refs.form.checkValidity()

                    this.emailInfoModalemailTitleState = valid



                    this.emailInfoModalemailBodyState = valid

                    return valid
                },
                /*符合規定之後，向後端以jqeury AJAX發送POST發送信件請求*/
                emailSubmit() {
                    // Exit when the form isn't valid
                    if (!this.checkFormValidity()) {
                        return
                    }
                    // Push the name to submittedMember
                    this.sendEmail.memberId = this.emailInfoModal.memberId
                    this.sendEmail.memberRegEmail = this.emailInfoModal.emailReceiver
                    this.sendEmail.mailTitle = this.emailInfoModal.emailTitle
                    this.sendEmail.mailBody = this.emailInfoModal.emailBody
                    var self = this;
                    $.ajax({
                        url: "/Api/Mails/SendMail",
                        method: "POST",
                        dataType: "json",//如果json回傳資料，則須加上此行，若無勿加此行，會引起parse error
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(this.sendEmail),
                        success: function (data, textStatus, jqXHR) {
                            if (data.msg == "查無此Eamil") {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: '寄信失敗，請再試一次',

                                });
                            }
                            else {



                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: '寄信成功',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }


                        },
                        error: function (jqXHR, textStatus, errorThron) {

                            console.log(textStatus + ", " + jqXHR.state);
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: '寄信失敗，請再試一次',

                            });

                        }

                    })

                    // Hide the modal manually
                    this.$nextTick(() => {
                        this.$bvModal.hide('emailInfo-modal');

                    })
                },
                /*重置更多功能*/
                resetInfoModal() {
                    this.infoModal.title = ''
                    this.infoModal.content = ''

                },
                /*重置寄信功能*/
                resetEmailInfoModal() {

                    this.emailInfoModal.emailTitle = ''
                    this.emailInfoModal.emailBody = ''
                    this.emailInfoModalemailTitleState = null
                    this.emailInfoModalemailBodyState = null
                },
                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                },
                mounted() {
                    // Set the initial number of items
                    this.totalRows = this.items.length
                },
                checkImg(dataItems) {
                    dataItems.forEach((item) => {
                        if (item.profileImgUrl == null) {
                            item.profileImgUrl = "/img/member.png";
                        }
                        
                    });
                }
            },

        })
    </script>

}
