@model ProjectTeamFour.ViewModels.EditMemberViewModel

@{
    ViewBag.Title = "PersonInfo";
}

@section topCSS{
    <link href="~/Assets/Css/Person_insPage/personal.css" rel="stylesheet" />
    <link href="~/Assets/Css/Person_insPage/rwd-personal.css" rel="stylesheet" />
}


<div class="banner">
    <div class="wrap">
        <ul class="nav nav-pills mb-12" id="pills-tab" role="tablist">
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">個人資料</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">贊助紀錄</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">提案紀錄</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-message-tab" data-toggle="pill" href="#pills-message" role="tab" aria-controls="pills-message" aria-selected="false">聯絡訊息</a>
            </li>
            <li class="nav-item-tag active" role="presentation">
                <a class="nav-links" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">最新通知</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-edit-tab" data-toggle="pill" href="#pills-edit" role="tab" aria-controls="pills-edit" aria-selected="false">個人資料</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="false">帳號管理</a>
            </li>
            <li class="nav-item-tag" role="presentation">
                <a class="nav-links" id="pills-setting-tab" data-toggle="pill" href="#pills-setting" role="tab" aria-controls="pills-setting" aria-selected="false">通知設定</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <section class=person>
                    <div class="wrap-inside">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="person-data">
                                    <div class="person-data-pic">
                                        <img src="@Model.ProfileImgUrl" alt="個人圖片">
                                    </div>
                                    <div class="person-data-text">
                                        <h2>@Model.MemberName</h2>
                                        <p>
                                            贊助過
                                            <span>0</span>件專案/發起過
                                            <span>0</span>件專案
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="about-some">
                    <div class="wrap-inside">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="about-case">
                                    <h2>贊助過的專案</h2>
                                    <p>目前還沒有贊助過任何專案</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <section class="record">
                    <div class="wrap-inside">
                        <div class="record-content">
                            <h2>贊助紀錄</h2>
                            <p>在專案結束之前，您都可修改你的回饋寄送資訊，ATM 轉帳與超商付款請於繳費期限內繳款。逾期後訂單會自動消失。</p>
                        </div>
                        <span>單筆贊助</span>
                        <div class="record-detail">
                            <div class="record-detillist">
                                <div class="record-detail-col">贊助專案</div>
                                <div class="record-detail-col">贊助金額</div>
                                <div class="record-detail-col">回饋項目</div>
                                <div class="record-detail-col">金流單號</div>
                                <div class="record-detail-col">收到了?</div>
                            </div>
                            <p>目前沒有任何贊助歷史</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <section class="case">
                    <div class="wrap-inside">
                        <div class="case-title">
                            <h2>提案紀錄</h2>
                            <p>您可以在此查閱所有發起過的專案，專案提交後 7 個工作天內將有專人協助您進行下一步。</p>
                        </div>
                        <div class="case-doing">
                            <div class="case-doing-funding">
                                <h3>募資中專案</h3>
                                <p>目前您沒有募資中專案</p>
                            </div>
                            <div class="case-doing-creating">
                                <h3>創建中專案</h3>
                                <div class="case-doing-item">
                                    <div class="case-doing-pic">
                                        <img src="https://picsum.photos/800/600/?random=1">
                                    </div>
                                    <div class="case-doing-text">
                                        <div class="case-doing-name">
                                            <h4>專案名稱:<span>1</span></h4>
                                        </div>
                                        <div class="case-doing-money">
                                            <h4>目標金額:<span>$5000</span></h4>
                                        </div>
                                        <div class="case-doing-creat">
                                            <h4><span>創建日期:2021/01/28</span></h4>
                                        </div>
                                        <div class="case-doing-givedate">
                                            <h4><span>提交日期:尚未提交</span></h4>
                                        </div>
                                        <div class="case-doing-fix">
                                            <h4><span>上次修改日期:2021/01/29</span></h4>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <button id="btn-fix">修改</button>
                                        <button id="btn-view">預覽</button>
                                    </div>
                                </div>
                                <div class="case-doing-item">
                                    <div class="case-doing-pic">
                                        <img src="https://picsum.photos/800/600/?random=1">
                                    </div>
                                    <div class="case-doing-text">
                                        <div class="case-doing-name">
                                            <h4>專案名稱:<span>1</span></h4>
                                        </div>
                                        <div class="case-doing-money">
                                            <h4>目標金額:<span>$5000</span></h4>
                                        </div>
                                        <div class="case-doing-creat">
                                            <h4><span>創建日期:2021/01/28</span></h4>
                                        </div>
                                        <div class="case-doing-givedate">
                                            <h4><span>提交日期:尚未提交</span></h4>
                                        </div>
                                        <div class="case-doing-fix">
                                            <h4><span>上次修改日期:2021/01/29</span></h4>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <button id="btn-fix">修改</button>
                                        <button id="btn-view">預覽</button>
                                    </div>
                                </div>
                                <div class="case-doing-item">
                                    <div class="case-doing-pic">
                                        <img src="~/Assets/Img/personal/dog.jpg" alt="肉">
                                    </div>
                                    <div class="case-doing-text">
                                        <div class="case-doing-name">
                                            <h4>專案名稱:<span>1</span></h4>
                                        </div>
                                        <div class="case-doing-money">
                                            <h4>目標金額:<span>$5000</span></h4>
                                        </div>
                                        <div class="case-doing-creat">
                                            <h4><span>創建日期:2021/01/28</span></h4>
                                        </div>
                                        <div class="case-doing-givedate">
                                            <h4><span>提交日期:尚未提交</span></h4>
                                        </div>
                                        <div class="case-doing-fix">
                                            <h4><span>上次修改日期:2021/01/29</span></h4>
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <button id="btn-fix">修改</button>
                                        <button id="btn-view">預覽</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="pills-message" role="tabpanel" aria-labelledby="pills-message-tab">
                <div class="message">
                    <div class="wrap-inside">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="search-item">
                                    <select class="message-input" name="option">
                                        <option value="1">最新</option>
                                        <option value="2">未讀</option>
                                        <option value="3">已讀</option>
                                    </select>
                                    <i class="fas fa-search"></i>
                                    <input type="search">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
                <div class="news">
                    <div class="wrap-inside">
                        <div class="col-sm-12 col-md-9">
                            <div class="news-text">
                                <span>於2天前</span>
                                <p>歡迎來到 flyingV！您可以到 熱門項目 看看我們的新鮮好案，或是 提案 發起您人生中的第一個群眾募資計劃！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab">
                <div class="edit">
                    <div class="wrap-inside">
                        <form action="">
                            <div id="user-profile" class="container">
                                <div class="form-group row">
                                    <!-- 左欄 -->
                                    <div class="left col-12 col-md-6">
                                        <div id="upload-img">
                                            <!-- 這裡是複製的 -->
                                            <div class="flyingUpload">
                                                <svg width="93" height="93" class="transpCircle">
                                                    <mask id="mask">
                                                        <rect fill="white" width="100%" height="100%" />
                                                        <circle cx="46.5" cy="46.5" r="45.5" stroke="black" stroke-width="2" />
                                                    </mask>
                                                    <rect mask="url(#mask)" fill="rgba(0, 0, 0, 0.5)" width="100%" height="100%" />
                                                </svg>
                                                <img src="https://static.flyingv.asia/static/square/users/60129aa331255.jpg" alt="謝宜勳"
                                                     class="avatar" style="width: 93px;">
                                                <span class="image-hinter">
                                                    <strong>上傳圖片</strong><br>
                                                    <span class="grey">2MB 以內的 JPEG, PNG, GIF 或 BMP</span>
                                                </span>
                                                <input class="upload" id="upload" accept="image/*" name="avatar" type="file">
                                            </div>
                                        </div>
                                        <div id="register-email" class="form-group">
                                            <label for="inputEmail">註冊信箱</label>
                                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" readonly>
                                            <p class="small-hint">此為您的 flyingV 系統登入帳號。</p>
                                        </div>
                                        <div id="contact-email" class="form-group">
                                            <label for="inputEmail">聯絡信箱</label>
                                            <input type="email" class="form-control" id="contactEmail" placeholder="[email]">
                                        </div>
                                        <div id="gender" class="form-group">
                                            <label for="gender">性別</label>
                                            <select class="form-control" id="gender">
                                                <option>請選擇性別</option>
                                                <option>男性</option>
                                                <option>女性</option>
                                                <option>其他</option>
                                            </select>
                                        </div>

                                        <div id="birthday"></div>


                                    </div>
                                    <!-- 右欄 -->
                                    <div class="right col-12 col-md-6">
                                        <div id="about-me" class="form-group">
                                            <label for="about" class="colored-label">
                                                <p>關於我</p>
                                            </label>
                                            <input type="text" class="form-control" id="about" placeholder="300字以內簡介">
                                        </div>
                                        <div id="name" class="form-group">
                                            <label for="name">顯示名稱</label>
                                            <input type="text" class="form-control" id="name" placeholder="[name]">
                                        </div>
                                        <div id="personal-site" class="form-group">
                                            <label for="personal-site">個人網站</label>
                                            <input type="url" class="form-control" id="personal-site" placeholder="[webside]">
                                        </div>
                                        @*<div id="language-preference" class="form-group">
                                                <label for="gender">語言偏好</label>
                                                <select class="form-control" id="language">
                                                    <option>中文</option>
                                                    <option>英文</option>
                                                    <option>日文</option>
                                                </select>
                                            </div>*@
                                    </div>
                                </div>
                                <hr>
                                <button type="save" class="btn btn-primary">儲存</button>
                                <button type="check" id="btn-black" class="btn btn-primary">查看檔案頁</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
                <div class="account">
                    <div class="wrap-inside">
                        <form action="">
                            <div id="user-setting" class="container">
                                <div class="form-group row">
                                    <div class="col-12 col-md-6">
                                        <blockquote class="colored-label">
                                            <p>帳號管理</p>
                                        </blockquote>
                                        <div class="login-account form-group">
                                            <label for="account">登入帳號</label>
                                            <input type="text" class="form-control" id="account" placeholder="example@gmail.com" readonly>
                                        </div>
                                        <div class="reset-passward form-group">
                                            <label for="inputPassword">更改密碼</label>
                                            <input type="password" class="form-control" id="inputPassword" placeholder="請輸入舊密碼">
                                        </div>
                                        <button type="submit" class="btn btn-primary">更改密碼</button>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="linked-account" class="colored-label">
                                            <p>社群綁定</p>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                                <button id="delete-account" class=" btn btn-secondary">刪除帳號</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
                <div class="setting">
                    <div class="wrap-inside">
                        <form action="">
                            <div id="notifaction-setting" class="container">

                                <div class="form-group row">
                                    <div class="col-12 col-md-4">
                                        <blockquote class="colored-label">
                                            <p>動態通知</p>
                                        </blockquote>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[notifications][project_success]" type="checkbox" value="1">
                                                專案達標
                                            </label>
                                            <div class="hint small grey"> 跟您分享專案達標的喜悅</div>
                                            <hr>
                                        </div>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[notifications][project_update]" type="checkbox" value="1">
                                                專案內容更新
                                            </label>

                                            <div class="hint small grey"> 及時掌握提案團隊更新的內容</div>
                                            <hr>
                                        </div>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[notifications][project_countdown]" type="checkbox" value="1">
                                                專案結束倒數
                                            </label>

                                            <div class="hint small grey"> 專案結束前的溫情提醒</div>
                                            <hr>
                                        </div>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[notifications][follower_donate]" type="checkbox" value="1">
                                                社群贊助通知
                                            </label>

                                            <div class="hint small grey"> 社群好友贊助專案時發送的通知</div>
                                            <hr>
                                        </div>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[notifications][project_reply]" type="checkbox" value="1">
                                                提案者回覆留言
                                            </label>

                                            <div class="hint small grey"> 秒讀提案團隊回應內容</div>
                                            <hr>
                                        </div>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[notifications][system_event]" type="checkbox" value="1">
                                                平台重大活動通知
                                            </label>

                                            <div class="hint small grey"> 所有我們想邀請您一起參與的美好事物</div>
                                            <hr>
                                        </div>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[notifications][system_statement]" type="checkbox" value="1">
                                                平台全站聲明
                                            </label>

                                            <div class="hint small grey"> 您最重要的用戶權益</div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class=" col-12 col-md-4">
                                        <blockquote class="colored-label">
                                            <p>平台系統通知信</p>
                                        </blockquote>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[emails][project_post]" type="checkbox" value="1">
                                                專案進度更新
                                            </label>

                                            <div class="hint small grey"> 已贊助專案發送進度報告的通知信件</div>
                                            <hr>
                                        </div>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[emails][follower_donate]" type="checkbox" value="1">
                                                社群贊助通知
                                            </label>

                                            <div class="hint small grey"> 社群好友贊助專案時發送的通知信件</div>
                                            <hr>
                                        </div>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[emails][weekly]" type="checkbox" value="1">
                                                每週精選專案
                                            </label>

                                            <div class="hint small grey"> flyingV 為您精心挑選的好案介紹</div>
                                            <hr>
                                        </div>

                                    </div>
                                    <div class=" col-12 col-md-4">
                                        <blockquote class="colored-label">
                                            <p>提案者系統通知信</p>
                                        </blockquote>

                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[creator][backers]" type="checkbox" value="1">
                                                專案新贊助通知
                                            </label>

                                            <div class="hint small grey"> 有新贊助者便會寄信給您</div>
                                            <hr>
                                        </div>
                                        <div class="checkbox notiLine">
                                            <label>
                                                <input checked="checked" name="setting[creator][comments]" type="checkbox" value="1">
                                                專案新留言通知
                                            </label>

                                            <div class="hint small grey"> 專案有新的留言便會寄信給您</div>
                                            <hr>
                                        </div>

                                    </div>
                                </div>
                                <button id="delete-account" class="btn btn-primary">儲存設定</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
