
@{
    ViewBag.Title = "Index";
}

@section topCSS{
    <link href="~/Assets/Css/AboutUsPage/aboutus.css" rel="stylesheet" />
}

<div class="header">
    <div class="wrap">
        <div class="header-title">
            Do what defines you .
        </div>
        <div class="header-content">
            我們跟每一個滿懷理想，想讓現況更好的你一樣熱愛生活，對未知領域永遠充滿探索熱情。因為關心公共事務，所以言談有點負能量，但行動依舊積極正面。心中都有一個最棒的群眾募資提案，才讓我們在全台灣最大的群眾募資平台相遇，一起致力於讓更多價值、理念得以被看見，讓好的點子走入生活。我們投身於社會的變革之中，不自量力地想要讓這改變的巨輪動得快一些。在 flyingV，我們一起努力工作，一起大聲歡笑，激盪新奇的點子讓眾人的理想成真。
        </div>
    </div>
</div>
<div class="content">
    <div class="wrap">
        <div class="content-title">關於「你」們</div>
        <div class="content-text">富有創意且勇於實踐的提案者，與用行動支持創作的贊助者們，帶著各自的故事與信念，成就flyingV上來自各個領域的計畫。他們是一群在乎環境更勝於自己的人，更是促使我們不斷向前的動力。</div>
        <div class="content-viedo"><iframe width="575" height="315" src="https://www.youtube.com/embed/cEacvXr6_B0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
</div>
<div class="about-us">
    <div class="wrap-mid">
        <div class="about-us-case">
            <h3>「我們有使命感，做別人不敢做的事。」</h3>
            <a href="~/StartAProject/Index" class="about-us-button-case aboutall">提案</a>
        </div>
        <div class="about-us-case">
            <h3>「我想和你們一起讓理想成真。」</h3>
            <a href="/Member/Register" class="about-us-button-join aboutall">加入我們</a>
        </div>
        <div class="about-us-case">
            <h3>「我無法對別人的夢想視而不見。」</h3>
            <a href="/Projects/GetAll/id" class="about-us-button-browser aboutall">探索</a>
        </div>
    </div>
</div>  