.login-page .container,
.login-page .container-sm {
    max-width: 350px;
}

.login-page .gender input {
    display: none;
}

.login-page .gender p {
    font-size: 0.9rem;
    font-weight: 600;
}

.login-page .gender label {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: rgb(145, 144, 144);
    font-weight: 600;
}

.login-page .gender input + label {
    background-color: transparent;
    cursor: pointer;
    padding: 0.3rem 1.5rem;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.login-page .gender input:checked + label {
    background-color: rgb(248, 200, 200);
}

.login-page .login-page-item .title {
    border-left: 0.5rem solid #f9414a;
    padding-left: 0.5rem;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.login-page .split-line {
    width: 100%;
    height: 1px;
    margin: 1rem 0;
    background-color: rgb(214, 211, 211);
    position: relative;
}

    .login-page .split-line p {
        position: relative;
        text-align: center;
        top: -0.7rem;
        background-color: rgb(230, 227, 227);
        width: 1.7rem;
        left: 50%;
        border-radius: 5px;
        color: rgb(145, 144, 144);
        transform: translateX(-50%);
    }

.login-page h3 {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 4rem 0 2rem 0;
}

.login-page .name-password input {
    padding: 0.5rem 0 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
    outline: none;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.login-page .birthdate {
    font-size: 0.9rem;
    font-weight: 600;
}

    .login-page .birthdate input {
        padding: 0.25rem 0 0.25rem 0.4rem;
        border: 1px solid #a7a7a7;
        border-radius: 5px;
        outline: none;
        color: rgb(145, 144, 144);
        font-weight: 500;
    }

.login-page p {
    margin-bottom: 0;
}

.login-page .login-button input {
    background-color: #f9414a;
    border: none;
    color: #fff;
    padding: 0.5rem 0;
    outline: none;
}


/*  */

.login-page .other-login-item a {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-weight: 600;
}

.login-page .other-login-item i {
    padding-top: 0.3rem;
    padding-right: 0.5rem;
}


.login-page .other-login-item .facebook {
    background-color: #1D3D82;
    color: #fff;
    padding: 0.5rem 0;
}

.login-page .other-login-item .google {
    background-color: transparent;
    color: rgb(104, 103, 103);
    padding: 0.5rem 0;
    border: 1px solid #aaa;
}


/*  */

.login-page .term {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

    .login-page .term a {
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        color: #f9414a;
        text-decoration: none;
        font-weight: 500;
    }

/*  */

.login-page .changestatus {
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding-bottom: 3rem;
    align-items: center;
    font-weight: 500;
}

    .login-page .changestatus a{
        background-color: #f9414a;
        text-decoration: none;
        border: 1px solid #f9414a;
        padding: 0.4rem 2rem;
        color: #fff;
        outline: none;
        font-weight: 600;
    }

.login-page .checkbox {
    position: relative;
}

.login-page .checkbox-item input {
    position: relative;
    top: 0.15rem;
}

.login-page .checkbox-item a {
    color: #000;
    text-decoration: none;
    transition: .3s;
}

    .login-page .checkbox-item a:hover {
        color: #f9414a
    }


@media (min-width: 576px) {

    .login-page .container,
    .login-page .container-sm {
        max-width: 350px;
    }
}
